# Inclusion of the Malawi survey

Columns we need:

weight --> here, the sum over all weights seems to represent the number of hh (not people)

income_col --> needs to be worked out here from the sectors

income_sp --> needs to be elaborated

region --> is given in "hh_a01"

decile --> need to be calculated

savings --> need to be calculated

poverty_line --> needs to be defined 

ispoor --> ?

isurban --> in "reside"

vul --> can be extracted from module hh F


Note: The survey data from the panel run seems to be sampled with a lower sampling rate, the data does not seem to be representative on the district level any more, so we work with the full-sample data.

In [1]:
import pandas as pd
import numpy as np

In [2]:
general_info = pd.read_csv('/home/insauer/projects/WB_model/Data_Malawi/MWI_2010_IHS-III_v01_M_CSV/Full_Sample/Household/hh_mod_a_filt.csv')
general_info = general_info.iloc[:,:6]
general_info = general_info.drop(columns=['qx_type'])
general_info

            case_id     ea_id  reside      hh_wgt  hh_a01
0      101010160009  10101016       2  126.560097     101
1      101010160033  10101016       2  126.560097     101
2      101010160060  10101016       2  126.560097     101
3      101010160068  10101016       2  126.560097     101
4      101010160069  10101016       2  126.560097     101
...             ...       ...     ...         ...     ...
12266  315556140342  31555614       1  456.450592     315
12267  315556140365  31555614       1  456.450592     315
12268  315556140388  31555614       1  456.450592     315
12269  315556140411  31555614       1  456.450592     315
12270  315556140434  31555614       1  456.450592     315

[12271 rows x 5 columns]

In [3]:
general_info.columns = ['case_id', 'ea_id', 'isurban', 'weight', 'region']

In [4]:
general_info

            case_id     ea_id  isurban      weight  region
0      101010160009  10101016        2  126.560097     101
1      101010160033  10101016        2  126.560097     101
2      101010160060  10101016        2  126.560097     101
3      101010160068  10101016        2  126.560097     101
4      101010160069  10101016        2  126.560097     101
...             ...       ...      ...         ...     ...
12266  315556140342  31555614        1  456.450592     315
12267  315556140365  31555614        1  456.450592     315
12268  315556140388  31555614        1  456.450592     315
12269  315556140411  31555614        1  456.450592     315
12270  315556140434  31555614        1  456.450592     315

[12271 rows x 5 columns]

In [5]:
general_info['weight'].sum()

3072524.951984406

In [6]:
general_info.loc[general_info['region']==101]

          case_id     ea_id  isurban      weight  region
0    101010160009  10101016        2  126.560097     101
1    101010160033  10101016        2  126.560097     101
2    101010160060  10101016        2  126.560097     101
3    101010160068  10101016        2  126.560097     101
4    101010160069  10101016        2  126.560097     101
..            ...       ...      ...         ...     ...
379  101202880104  10120288        1   59.150002     101
380  101202880118  10120288        1   59.150002     101
381  101202880125  10120288        1   59.150002     101
382  101202880132  10120288        1   59.150002     101
383  101202880146  10120288        1   59.150002     101

[384 rows x 5 columns]

In [7]:
case_ids = list(general_info['case_id'])
case_ids

[101010160009,
 101010160033,
 101010160060,
 101010160068,
 101010160069,
 101010160070,
 101010160074,
 101010160086,
 101010160096,
 101010160143,
 101010160159,
 101010160180,
 101010160207,
 101010160235,
 101010160254,
 101010160265,
 101012040003,
 101012040007,
 101012040011,
 101012040020,
 101012040024,
 101012040028,
 101012040037,
 101012040041,
 101012040045,
 101012040054,
 101012040058,
 101012040062,
 101012040071,
 101012040075,
 101012040079,
 101012040087,
 101012150001,
 101012150004,
 101012150021,
 101012150022,
 101012150026,
 101012150028,
 101012150034,
 101012150038,
 101012150040,
 101012150045,
 101012150048,
 101012150049,
 101012150053,
 101012150059,
 101012150060,
 101012150074,
 101012190012,
 101012190018,
 101012190025,
 101012190032,
 101012190045,
 101012190052,
 101012190059,
 101012190065,
 101012190079,
 101012190086,
 101012190092,
 101012190099,
 101012190112,
 101012190119,
 101012190126,
 101012190139,
 101013550014,
 101013550023,
 101013550032,
 101013550042,
 101013550060,
 101013550070,
 101013550079,
 101013550089,
 101013550107,
 101013550117,
 101013550126,
 101013550135,
 101013550154,
 101013550164,
 101013550173,
 101013550192,
 101013740006,
 101013740013,
 101013740020,
 101013740028,
 101013740035,
 101013740050,
 101013740057,
 101013740064,
 101013740072,
 101013740094,
 101013740101,
 101013740108,
 101013740123,
 101013740130,
 101013740138,
 101013740152,
 101014700012,
 101014700026,
 101014700029,
 101014700032,
 101014700034,
 101014700055,
 101014700079,
 101014700128,
 101014700135,
 101014700148,
 101014700156,
 101014700200,
 101014700214,
 101014700224,
 101014700227,
 101014700248,
 101015620009,
 101015620020,
 101015620031,
 101015620042,
 101015620053,
 101015620064,
 101015620075,
 101015620086,
 101015620096,
 101015620118,
 101015620140,
 101015620162,
 101015620184,
 101015620195,
 101015620205,
 101015620227,
 101015680005,
 101015680012,
 101015680019,
 101015680026,
 101015680033,
 101015680046,
 101015680053,
 101015680060,
 101015680067,
 101015680081,
 101015680088,
 101015680095,
 101015680102,
 101015680116,
 101015680130,
 101015680144,
 101017060006,
 101017060007,
 101017060011,
 101017060015,
 101017060022,
 101017060026,
 101017060030,
 101017060033,
 101017060041,
 101017060045,
 101017060048,
 101017060052,
 101017060059,
 101017060063,
 101017060067,
 101017060074,
 101020040001,
 101020040008,
 101020040012,
 101020040015,
 101020040028,
 101020040031,
 101020040034,
 101020040039,
 101020040042,
 101020040059,
 101020040061,
 101020040093,
 101020040101,
 101020040104,
 101020040121,
 101020040128,
 101023790001,
 101023790005,
 101023790008,
 101023790012,
 101023790015,
 101023790026,
 101023790029,
 101023790033,
 101023790040,
 101023790043,
 101023790047,
 101023790051,
 101023790058,
 101023790061,
 101023790065,
 101023790072,
 101026210012,
 101026210018,
 101026210024,
 101026210030,
 101026210042,
 101026210048,
 101026210054,
 101026210061,
 101026210073,
 101026210079,
 101026210085,
 101026210091,
 101026210103,
 101026210109,
 101026210115,
 101026210128,
 101034140003,
 101034140009,
 101034140020,
 101034140025,
 101034140031,
 101034140042,
 101034140047,
 101034140053,
 101034140064,
 101034140069,
 101034140075,
 101034140086,
 101034140091,
 101034140097,
 101034140108,
 101034140114,
 101034520001,
 101034520003,
 101034520005,
 101034520007,
 101034520009,
 101034520011,
 101034520015,
 101034520017,
 101034520019,
 101034520023,
 101034520025,
 101034520029,
 101034520033,
 101034520035,
 101034520037,
 101034520041,
 101036810007,
 101036810011,
 101036810015,
 101036810019,
 101036810027,
 101036810031,
 101036810036,
 101036810040,
 101036810048,
 101036810052,
 101036810056,
 101036810060,
 101036810068,
 101036810072,
 101036810077,
 101036810085,
 101041500004,
 101041500006,
 101041500012,
 101041500013,
 101041500015,
 101041500023,
 101041500027,
 101041500045,
 101041500048,
 101041500053,
 101041500054,
 101041500057,
 101041500063,
 101041500067,
 101041500076,
 101041500079,
 101043510001,
 101043510007,
 101043510012,
 101043510018,
 101043510024,
 101043510036,
 101043510042,
 101043510048,
 101043510054,
 101043510066,
 101043510078,
 101043510084,
 101043510096,
 101043510102,
 101043510108,
 101043510120,
 101044400008,
 101044400015,
 101044400021,
 101044400028,
 101044400042,
 101044400049,
 101044400055,
 101044400062,
 101044400076,
 101044400083,
 101044400089,
 101044400096,
 101044400110,
 101044400117,
 101044400123,
 101044400137,
 101053520010,
 101053520015,
 101053520022,
 101053520029,
 101053520044,
 101053520051,
 101053520059,
 101053520066,
 101053520081,
 101053520088,
 101053520095,
 101053520103,
 101053520117,
 101053520125,
 101053520132,
 101053520147,
 101055110011,
 101055110021,
 101055110031,
 101055110041,
 101055110061,
 101055110071,
 101055110081,
 101055110091,
 101055110111,
 101055110121,
 101055110131,
 101055110141,
 101055110161,
 101055110171,
 101055110181,
 101055110201,
 101055130005,
 101055130017,
 101055130037,
 101055130040,
 101055130049,
 101055130082,
 101055130084,
 101055130099,
 101055130116,
 101055130133,
 101055130136,
 101055130137,
 101055130138,
 101055130140,
 101055130161,
 101055130170,
 101202860016,
 101202860027,
 101202860039,
 101202860050,
 101202860074,
 101202860085,
 101202860097,
 101202860108,
 101202860131,
 101202860143,
 101202860155,
 101202860166,
 101202860189,
 101202860201,
 101202860212,
 101202860236,
 101202880006,
 101202880013,
 101202880020,
 101202880027,
 101202880034,
 101202880041,
 101202880048,
 101202880055,
 101202880069,
 101202880090,
 101202880097,
 101202880104,
 101202880118,
 101202880125,
 101202880132,
 101202880146,
 102011370001,
 102011370013,
 102011370027,
 102011370035,
 102011370036,
 102011370045,
 102011370076,
 102011370087,
 102011370099,
 102011370109,
 102011370126,
 102011370142,
 102011370143,
 102011370151,
 102011370175,
 102011370184,
 102012100001,
 102012100005,
 102012100010,
 102012100015,
 102012100021,
 102012100036,
 102012100041,
 102012100046,
 102012100056,
 102012100061,
 102012100066,
 102012100072,
 102012100082,
 102012100087,
 102012100092,
 102012100102,
 102012470006,
 102012470012,
 102012470017,
 102012470022,
 102012470033,
 102012470038,
 102012470043,
 102012470049,
 102012470059,
 102012470064,
 102012470070,
 102012470075,
 102012470086,
 102012470091,
 102012470096,
 102012470107,
 102014420002,
 102014420010,
 102014420019,
 102014420027,
 102014420036,
 102014420052,
 102014420061,
 102014420069,
 102014420078,
 102014420094,
 102014420111,
 102014420119,
 102014420136,
 102014420145,
 102014420153,
 102014420170,
 102016880002,
 102016880010,
 102016880018,
 102016880033,
 102016880041,
 102016880049,
 102016880064,
 102016880072,
 102016880080,
 102016880095,
 102016880103,
 102016880111,
 102016880126,
 102016880134,
 102016880142,
 102016880157,
 102021950007,
 102021950014,
 102021950022,
 102021950029,
 102021950043,
 102021950050,
 102021950058,
 102021950065,
 102021950079,
 102021950086,
 102021950094,
 102021950101,
 102021950115,
 102021950122,
 102021950130,
 102021950144,
 102025140004,
 102025140019,
 102025140060,
 102025140064,
 102025140068,
 102025140087,
 102025140089,
 102025140104,
 102025140122,
 102025140144,
 102025140145,
 102025140149,
 102025140151,
 102025140160,
 102025140161,
 102025140169,
 102030130002,
 102030130005,
 102030130006,
 102030130008,
 102030130011,
 102030130012,
 102030130013,
 102030130015,
 102030130016,
 102030130017,
 102030130020,
 102030130021,
 102030130023,
 102030130024,
 102030130030,
 102030130034,
 102030850004,
 102030850011,
 102030850018,
 102030850032,
 102030850046,
 102030850053,
 102030850059,
 102030850066,
 102030850080,
 102030850087,
 102030850094,
 102030850101,
 102030850115,
 102030850122,
 102030850129,
 102030850143,
 102031760004,
 102031760009,
 102031760014,
 102031760024,
 102031760029,
 102031760033,
 102031760043,
 102031760048,
 102031760053,
 102031760063,
 102031760067,
 102031760072,
 102031760082,
 102031760087,
 102031760092,
 102031760101,
 102032210001,
 102032210014,
 102032210028,
 102032210042,
 102032210055,
 102032210083,
 102032210110,
 102032210124,
 102032210152,
 102032210166,
 102032210179,
 102032210193,
 102032210221,
 102032210234,
 102032210248,
 102032210276,
 102036230001,
 102036230002,
 102036230004,
 102036230005,
 102036230006,
 102036230008,
 102036230009,
 102036230010,
 102036230012,
 102036230013,
 102036230014,
 102036230016,
 102036230018,
 102036230020,
 102036230022,
 102036230028,
 102037440001,
 102037440006,
 102037440017,
 102037440023,
 102037440029,
 102037440040,
 102037440045,
 102037440051,
 102037440062,
 102037440068,
 102037440073,
 102037440084,
 102037440090,
 102037440095,
 102037440107,
 102037440112,
 102041010007,
 102041010014,
 102041010022,
 102041010030,
 102041010037,
 102041010060,
 102041010068,
 102041010076,
 102041010091,
 102041010099,
 102041010106,
 102041010114,
 102041010129,
 102041010137,
 102041010145,
 102041010160,
 102043220004,
 102043220009,
 102043220019,
 102043220023,
 102043220028,
 102043220038,
 102043220043,
 102043220047,
 102043220057,
 102043220062,
 102043220067,
 102043220076,
 102043220081,
 102043220086,
 102043220095,
 102043220100,
 102044530019,
 102044530030,
 102044530041,
 102044530052,
 102044530074,
 102044530085,
 102044530096,
 102044530106,
 102044530128,
 102044530139,
 102044530150,
 102044530161,
 102044530183,
 102044530194,
 102044530205,
 102044530226,
 102045860004,
 102045860010,
 102045860012,
 102045860025,
 102045860049,
 102045860053,
 102045860054,
 102045860065,
 102045860070,
 102045860107,
 102045860112,
 102045860115,
 102045860122,
 102045860123,
 102045860161,
 102045860164,
 102047230006,
 102047230012,
 102047230019,
 102047230026,
 102047230032,
 102047230046,
 102047230052,
 102047230059,
 102047230065,
 102047230079,
 102047230085,
 102047230092,
 102047230099,
 102047230112,
 102047230125,
 102047230138,
 102052020010,
 102052020057,
 102052020086,
 102052020106,
 102052020110,
 102052020173,
 102052020180,
 102052020221,
 102052020253,
 102052020264,
 102052020272,
 102052020299,
 102052020308,
 102052020370,
 102052020388,
 102052020438,
 102055070002,
 102055070006,
 102055070009,
 102055070013,
 102055070018,
 102055070022,
 102055070027,
 102055070036,
 102055070040,
 102055070049,
 102055070054,
 102055070063,
 102055070072,
 102055070076,
 102055070081,
 102055070090,
 102200270009,
 102200270016,
 102200270024,
 102200270032,
 102200270047,
 102200270055,
 102200270063,
 102200270070,
 102200270086,
 102200270093,
 102200270101,
 102200270109,
 102200270124,
 102200270132,
 102200270140,
 102200270155,
 102201030013,
 102201030021,
 102201030028,
 102201030035,
 102201030050,
 102201030058,
 102201030065,
 102201030073,
 102201030088,
 102201030095,
 102201030103,
 102201030110,
 102201030125,
 102201030133,
 102201030140,
 102201030155,
 102205210003,
 102205210009,
 102205210020,
 102205210025,
 102205210036,
 102205210041,
 102205210047,
 102205210052,
 102205210063,
 102205210069,
 102205210074,
 102205210080,
 102205210091,
 102205210096,
 102205210102,
 102205210113,
 102207050019,
 102207050044,
 102207050054,
 102207050056,
 102207050062,
 102207050084,
 102207050090,
 102207050112,
 102207050138,
 102207050170,
 102207050199,
 102207050206,
 102207050298,
 102207050319,
 102207050344,
 102207050359,
 103010260007,
 103010260011,
 103010260015,
 103010260019,
 103010260027,
 103010260031,
 103010260035,
 103010260039,
 103010260046,
 103010260050,
 103010260054,
 103010260058,
 103010260066,
 103010260070,
 103010260074,
 103010260082,
 103013060009,
 103013060015,
 103013060020,
 103013060025,
 103013060036,
 103013060041,
 103013060047,
 103013060052,
 103013060063,
 103013060068,
 103013060074,
 103013060079,
 103013060090,
 103013060095,
 103013060101,
 103013060111,
 103013470004,
 103013470010,
 103013470016,
 103013470022,
 103013470028,
 103013470041,
 103013470047,
 103013470053,
 103013470059,
 103013470077,
 103013470084,
 103013470090,
 103013470102,
 103013470108,
 103013470114,
 103013470127,
 103016630054,
 103016630124,
 103016630160,
 103016630181,
 103016630188,
 103016630198,
 103016630217,
 103016630224,
 103016630233,
 103016630235,
 103016630289,
 103016630300,
 103016630307,
 103016630351,
 103016630379,
 103016630383,
 103017410018,
 103017410019,
 103017410028,
 103017410038,
 103017410056,
 103017410066,
 103017410075,
 103017410084,
 103017410103,
 103017410112,
 103017410113,
 103017410131,
 103017410150,
 103017410159,
 103017410169,
 103017410188,
 103020100009,
 103020100012,
 103020100016,
 103020100019,
 103020100028,
 103020100034,
 103020100037,
 103020100047,
 103020100054,
 103020100056,
 103020100076,
 103020100089,
 103020100105,
 103020100106,
 103020100107,
 103020100112,
 103034540004,
 103034540006,
 103034540009,
 103034540012,
 103034540019,
 103034540022,
 103034540025,
 103034540028,
 103034540034,
 103034540037,
 103034540040,
 103034540043,
 103034540050,
 103034540053,
 103034540056,
 103034540062,
 103040120012,
 103040120023,
 103040120049,
 103040120062,
 103040120074,
 103040120101,
 103040120105,
 103040120125,
 103040120126,
 103040120129,
 103040120132,
 103040120141,
 103040120148,
 103040120153,
 103040120166,
 103040120171,
 103043600011,
 103043600017,
 103043600024,
 103043600030,
 103043600043,
 103043600049,
 103043600055,
 103043600062,
 103043600075,
 103043600081,
 103043600087,
 103043600094,
 103043600107,
 103043600113,
 103043600119,
 103043600132,
 103046250012,
 103046250019,
 103046250026,
 103046250034,
 103046250048,
 103046250055,
 103046250063,
 103046250070,
 103046250092,
 103046250099,
 103046250106,
 103046250116,
 103046250120,
 103046250128,
 103046250135,
 103046250149,
 103054460016,
 103054460029,
 103054460042,
 103054460055,
 103054460081,
 103054460094,
 103054460107,
 103054460120,
 103054460146,
 103054460159,
 103054460172,
 103054460185,
 103054460224,
 103054460237,
 103054460263,
 103064170003,
 103064170007,
 103064170010,
 103064170014,
 103064170025,
 103064170029,
 103064170033,
 103064170036,
 103064170044,
 103064170047,
 103064170051,
 103064170055,
 103064170062,
 103064170066,
 103064170070,
 103064170077,
 103064310009,
 103064310015,
 103064310021,
 103064310027,
 103064310039,
 103064310046,
 103064310052,
 103064310058,
 103064310070,
 103064310076,
 103064310082,
 103064310088,
 103064310100,
 103064310107,
 103064310113,
 103064310125,
 103074130018,
 103074130028,
 103074130044,
 103074130047,
 103074130052,
 103074130071,
 103074130087,
 103074130099,
 103074130110,
 103074130139,
 103074130171,
 103074130190,
 103074130225,
 103074130252,
 103074130255,
 103074130258,
 103081290004,
 103081290008,
 103081290013,
 103081290018,
 103081290032,
 103081290036,
 103081290041,
 103081290046,
 103081290055,
 ...]

Here, we use district, reside and hh_wgt, but need to check whether this weight refers to the country, region or district.

--> The weights seem to represent only the full number of hh, not the representation of the entire population

For income data we need to move to the individual level:

# Income from labour

Income from labour is given in module E. There is income from a main job and a secondary job and income from ganyu labour. The payent received covers different time periods (week, day, month) and the time worked in each job is also given. So we estimate the salary per year for each job.

In [8]:
ind_data = pd.read_csv('/home/insauer/projects/WB_model/Data_Malawi/MWI_2010_IHS-III_v01_M_CSV/Full_Sample/Household/hh_mod_e.csv')
ind_data = ind_data[['case_id', 'hh_e22', 'hh_e23', 'hh_e24', 'hh_e25', 'hh_e26a', 'hh_e26b','hh_e27','hh_e28a', 'hh_e28b',
          'hh_e36', 'hh_e37', 'hh_e38', 'hh_e39', 'hh_e40a', 'hh_e40b', 'hh_e41', 'hh_e42a', 'hh_e42b',
          'hh_e55', 'hh_e56', 'hh_e57', 'hh_e58', 'hh_e59']]

/home/insauer/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (65) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [9]:
ind_data['hh_e26_factor'] = np.nan
ind_data['hh_e28_factor'] = np.nan
ind_data['hh_e40_factor'] = np.nan
ind_data['hh_e42_factor'] = np.nan

In [10]:
# Main job: We insert a factor the payment is multiplied with depending on the time covered by the salary
#payment
ind_data.loc[ind_data['hh_e26b']==3,'hh_e26_factor']= 7
ind_data.loc[ind_data['hh_e26b']==4,'hh_e26_factor']= 1
ind_data.loc[ind_data['hh_e26b']==5,'hh_e26_factor']= 0.25

#allowances
ind_data.loc[ind_data['hh_e28b']==3,'hh_e28_factor']= 7
ind_data.loc[ind_data['hh_e28b']==4,'hh_e28_factor']= 1
ind_data.loc[ind_data['hh_e26b']==5,'hh_e28_factor']= 0.25

#payment
ind_data.loc[ind_data['hh_e40b']==3,'hh_e40_factor']= 7
ind_data.loc[ind_data['hh_e40b']==4,'hh_e40_factor']= 1
ind_data.loc[ind_data['hh_e40b']==5,'hh_e40_factor']= 0.25

#allowances
ind_data.loc[ind_data['hh_e42b']==3,'hh_e42_factor']= 7
ind_data.loc[ind_data['hh_e42b']==4,'hh_e42_factor']= 1
ind_data.loc[ind_data['hh_e42b']==5,'hh_e42_factor']= 0.25

In [11]:
# Provide weekly and annual income
ind_data['inc_lab_wkly_main'] = ind_data['hh_e25']*(ind_data['hh_e26_factor']/ind_data['hh_e26a'])
ind_data['inc_lab_wkly_add_main'] = ind_data['hh_e27']*(ind_data['hh_e28_factor']/ind_data['hh_e28a'])
ind_data['inc_lab_wkly_sec'] = ind_data['hh_e39']*(ind_data['hh_e40_factor']/ind_data['hh_e40a'])
ind_data['inc_lab_wkly_add_sec'] = ind_data['hh_e41']*(ind_data['hh_e42_factor']/ind_data['hh_e42a'])

ind_data['inc_lab_ann_main'] = ind_data['inc_lab_wkly_main'] * ind_data['hh_e23'] * ind_data['hh_e22']    
ind_data['inc_lab_ann_add_main'] = ind_data['inc_lab_wkly_add_main'] * ind_data['hh_e23'] * ind_data['hh_e22']   
ind_data['inc_lab_ann_sec'] = ind_data['inc_lab_wkly_sec'] * ind_data['hh_e36'] * ind_data['hh_e37']  
ind_data['inc_lab_ann_add_sec'] = ind_data['inc_lab_wkly_add_sec'] * ind_data['hh_e36'] * ind_data['hh_e37']

# include ganyu labour
ind_data['inc_lab_wkly_ganyu'] = ind_data['hh_e59'] * ind_data['hh_e58'] 
ind_data['inc_lab_ann_ganyu'] = ind_data['inc_lab_wkly_ganyu'] * ind_data['hh_e57'] * ind_data['hh_e56']

In [12]:
ind_data['inc_lab_wkly_ganyu'].dropna()

cols = ['inc_lab_wkly_main', 'inc_lab_wkly_add_main', 'inc_lab_wkly_sec', 'inc_lab_wkly_add_sec', 'inc_lab_ann_main',
        'inc_lab_ann_add_main', 'inc_lab_ann_sec', 'inc_lab_ann_add_sec', 'inc_lab_wkly_ganyu', 'inc_lab_ann_ganyu']

In [13]:
income_data = ind_data.groupby(['case_id'])\
                                    [cols].apply(sum)\
                                    .reset_index()

In [14]:
income_data['inc_lab_ann']= income_data['inc_lab_ann_main']+income_data['inc_lab_ann_add_main']+income_data['inc_lab_ann_sec']+\
                            income_data['inc_lab_ann_add_sec']+income_data['inc_lab_ann_ganyu']

In [15]:
income_data

,case_id,inc_lab_wkly_main,inc_lab_wkly_add_main,inc_lab_wkly_sec,inc_lab_wkly_add_sec,inc_lab_ann_main,inc_lab_ann_add_main,inc_lab_ann_sec,inc_lab_ann_add_sec,inc_lab_wkly_ganyu,inc_lab_ann_ganyu,inc_lab_ann
0,101010160009,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,600.0,2400.0,2400.0
1,101010160033,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,101010160060,1375.0,0.0,0.0,0.0,66000.0,0.0,0.0,0.0,2060.0,18480.0,84480.0
3,101010160068,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1510.0,16080.0,16080.0
4,101010160069,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1050.0,2100.0,2100.0
...,...,...,...,...,...,...,...,...,...,...,...,...
12266,315556140342,1875.0,0.0,0.0,0.0,90000.0,0.0,0.0,0.0,0.0,0.0,90000.0
12267,315556140365,1750.0,0.0,0.0,0.0,84000.0,0.0,0.0,0.0,420.0,1680.0,85680.0
12268,315556140388,1500.0,0.0,0.0,0.0,72000.0,0.0,0.0,0.0,0.0,0.0,72000.0
12269,315556140411,3500.0,0.0,0.0,0.0,91000.0,0.0,0.0,0.0,0.0,0.0,91000.0
12270,315556140434,2500.0,0.0,0.0,0.0,120000.0,0.0,0.0,0.0,450.0,1800.0,121800.0

In [16]:
general_info['income_labour'] = income_data['inc_lab_ann']
general_info

            case_id     ea_id  isurban      weight  region  income_labour
0      101010160009  10101016        2  126.560097     101         2400.0
1      101010160033  10101016        2  126.560097     101            0.0
2      101010160060  10101016        2  126.560097     101        84480.0
3      101010160068  10101016        2  126.560097     101        16080.0
4      101010160069  10101016        2  126.560097     101         2100.0
...             ...       ...      ...         ...     ...            ...
12266  315556140342  31555614        1  456.450592     315        90000.0
12267  315556140365  31555614        1  456.450592     315        85680.0
12268  315556140388  31555614        1  456.450592     315        72000.0
12269  315556140411  31555614        1  456.450592     315        91000.0
12270  315556140434  31555614        1  456.450592     315       121800.0

[12271 rows x 6 columns]

# Income from other sources

## Income from enterprises

To extract the incomes from enterprises we try to use the monthly profit weighted by the share of profit that is kept by the household --> this approach does not work as the shares are mostly invalid!

We take the profit and devide it by the number of co-owners!

In [95]:
ep_data = pd.read_csv('/home/insauer/projects/WB_model/Data_Malawi/MWI_2010_IHS-III_v01_M_CSV/Full_Sample/Household/hh_mod_n2.csv')

/home/insauer/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (64) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Given:
- the amount of the sales(low, high, average) from the last months (March 2009-March 2011)
- the sales of the last month
- the profit of the last month
- the sales corresponding to high, low and average amounts

Approach:

We estimate the monthly profit for high, low and anverage sales and calculate an annual profit from the sales of each month in operation.

In [96]:
ep_data = ep_data[['case_id', 'hh_n13a', 'hh_n13b', 'hh_n25a', 'hh_n25b', 'hh_n25c', 'hh_n25d', 'hh_n25e', 'hh_n25f', 'hh_n25g',
                   'hh_n25h', 'hh_n25i', 'hh_n25j', 'hh_n25k', 'hh_n25l', 'hh_n25m', 'hh_n25n', 'hh_n25o', 'hh_n25p',
                   'hh_n25q', 'hh_n25r', 'hh_n25s', 'hh_n25t', 'hh_n25u', 'hh_n25v', 'hh_n25w','hh_n25x','hh_n25y','hh_n32', 'hh_n33', 'hh_n34', 'hh_n35',
                   'hh_n36', 'hh_n37', 'hh_n38', 'hh_n39', 'hh_n40']]

In [97]:
ep_data.loc[:,'low_sales_fac'] = np.nan
ep_data.loc[:,'high_sales_fac'] = np.nan

We take the estimate factors for a high low in dependence of the average sale (1 = average sale).
The category of sales (high, low and average) of the last month is given in 'hh_n33' the amount gained corresponding to the category is given in 'hh_n32'. The amounts for the two other categories are then given in 'hh_n34 - hh_n39' depending on which sales category belongs to the last month. (if hh_n33 = 1 --> hh_n34 and hh_n35, if hh_n33 = 2 --> hh_n36 and hh_n37, if hh_n33 = 3 --> hh_n38 and hh_n39)

In [98]:
ep_data.loc[ep_data['hh_n33']==1, 'low_sales_fac'] = ep_data.loc[ep_data['hh_n33']==1, 'hh_n32']/ep_data.loc[ep_data['hh_n33']==1, 'hh_n34']
ep_data.loc[ep_data['hh_n33']==2, 'low_sales_fac'] = ep_data.loc[ep_data['hh_n33']==2, 'hh_n36']/ep_data.loc[ep_data['hh_n33']==2, 'hh_n32']
ep_data.loc[ep_data['hh_n33']==3, 'low_sales_fac'] = ep_data.loc[ep_data['hh_n33']==3, 'hh_n38']/ep_data.loc[ep_data['hh_n33']==3, 'hh_n39']

ep_data.loc[ep_data['hh_n33']==1, 'high_sales_fac'] = ep_data.loc[ep_data['hh_n33']==1, 'hh_n35']/ep_data.loc[ep_data['hh_n33']==1, 'hh_n34']
ep_data.loc[ep_data['hh_n33']==2, 'high_sales_fac'] = ep_data.loc[ep_data['hh_n33']==2, 'hh_n37']/ep_data.loc[ep_data['hh_n33']==2, 'hh_n32']
ep_data.loc[ep_data['hh_n33']==3, 'high_sales_fac'] = ep_data.loc[ep_data['hh_n33']==3, 'hh_n32']/ep_data.loc[ep_data['hh_n33']==3, 'hh_n39']

In [99]:
# Check for infinite values
ep_data.loc[(ep_data['low_sales_fac']==np.inf)].iloc[:,25:]

,hh_n25w,hh_n25x,hh_n25y,hh_n32,hh_n33,hh_n34,hh_n35,hh_n36,hh_n37,hh_n38,hh_n39,hh_n40,low_sales_fac,high_sales_fac
5,NaN,NaN,NaN,16000.0,3.0,NaN,NaN,NaN,NaN,12000.0,0.0,7200.0,inf,inf
40,NaN,NaN,NaN,3000.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,140.0,inf,NaN
43,NaN,NaN,NaN,22300.0,3.0,NaN,NaN,NaN,NaN,11800.0,0.0,3500.0,inf,inf
163,NaN,NaN,NaN,6300.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,2300.0,inf,NaN
244,0.0,0.0,NaN,10000.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,3000.0,inf,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9494,NaN,NaN,NaN,1000.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,300.0,inf,NaN
10043,NaN,NaN,NaN,5000.0,3.0,NaN,NaN,NaN,NaN,2000.0,0.0,3000.0,inf,inf
10044,NaN,NaN,NaN,3000.0,3.0,NaN,NaN,NaN,NaN,1000.0,0.0,2000.0,inf,inf
11455,NaN,NaN,NaN,2500.0,3.0,NaN,NaN,NaN,NaN,2500.0,0.0,500.0,inf,inf
11948,NaN,NaN,NaN,0.0,2.0,NaN,NaN,500.0,900.0,NaN,NaN,400.0,inf,inf

There are some rows which infinite values in 'low_sales_fac' and see that there are sometimes zeros in the columns of other sale categories. We need to replace these zeros by estimating the amounts from the amount from the last month.

In [100]:
# We start with the case that the last month was one of low sales
ep_data.loc[(ep_data['low_sales_fac']==np.inf)&(ep_data['hh_n33']==1.0)].iloc[:,25:]

,hh_n25w,hh_n25x,hh_n25y,hh_n32,hh_n33,hh_n34,hh_n35,hh_n36,hh_n37,hh_n38,hh_n39,hh_n40,low_sales_fac,high_sales_fac
40,NaN,NaN,NaN,3000.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,140.0,inf,NaN
163,NaN,NaN,NaN,6300.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,2300.0,inf,NaN
244,0.0,0.0,NaN,10000.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,3000.0,inf,NaN
427,NaN,NaN,NaN,7000.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,4400.0,inf,NaN
442,NaN,NaN,NaN,5200.0,1.0,0.0,10400.0,NaN,NaN,NaN,NaN,32400.0,inf,inf
456,NaN,NaN,NaN,7000.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,4000.0,inf,NaN
510,NaN,NaN,NaN,1000.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,300.0,inf,NaN
514,NaN,NaN,NaN,1000.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,500.0,inf,NaN
545,NaN,NaN,NaN,800.0,1.0,0.0,2000.0,NaN,NaN,NaN,NaN,300.0,inf,inf
902,NaN,NaN,NaN,17000.0,1.0,0.0,17000.0,NaN,NaN,NaN,NaN,9000.0,inf,inf
1618,NaN,NaN,NaN,4000.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,1000.0,inf,NaN
1735,NaN,NaN,NaN,1800.0,1.0,0.0,9000.0,NaN,NaN,NaN,NaN,600.0,inf,inf
1876,NaN,NaN,NaN,5000.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,500.0,inf,NaN
1882,NaN,NaN,NaN,3000.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,2200.0,inf,NaN
1883,NaN,NaN,NaN,1000.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,200.0,inf,NaN
1995,NaN,NaN,NaN,2300.0,1.0,0.0,9870.0,NaN,NaN,NaN,NaN,400.0,inf,inf
2066,NaN,NaN,NaN,11000.0,1.0,0.0,96000.0,NaN,NaN,NaN,NaN,0.0,inf,inf
2253,NaN,NaN,NaN,1645.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,200.0,inf,NaN
2254,NaN,NaN,NaN,18000.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,9000.0,inf,NaN
2700,NaN,NaN,NaN,1000.0,1.0,0.0,2700.0,1000.0,NaN,NaN,NaN,1000.0,inf,inf
2717,NaN,NaN,NaN,8000.0,1.0,0.0,18000.0,NaN,NaN,NaN,NaN,200.0,inf,inf
3473,NaN,NaN,NaN,3000.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,2000.0,inf,NaN
3890,NaN,NaN,NaN,1000.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,300.0,inf,NaN
4051,NaN,NaN,NaN,15000.0,1.0,0.0,20000.0,NaN,NaN,NaN,NaN,12000.0,inf,inf
4056,0.0,NaN,NaN,2900.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,1700.0,inf,NaN
4079,NaN,NaN,NaN,1500.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,1100.0,inf,NaN
4095,NaN,NaN,NaN,1300.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,300.0,inf,NaN
4163,NaN,NaN,NaN,6500.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,2500.0,inf,NaN
4165,NaN,NaN,NaN,750.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,250.0,inf,NaN
4203,NaN,NaN,NaN,5000.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,2500.0,inf,NaN
4220,NaN,NaN,NaN,8000.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,2500.0,inf,NaN
4287,1.0,NaN,NaN,18600.0,1.0,0.0,22000.0,NaN,NaN,NaN,NaN,9827.0,inf,inf
4669,NaN,NaN,NaN,13000.0,1.0,0.0,15000.0,NaN,NaN,NaN,NaN,5000.0,inf,inf
4897,NaN,NaN,NaN,6000.0,1.0,0.0,6000.0,NaN,NaN,NaN,NaN,3200.0,inf,inf
5301,NaN,NaN,NaN,1000.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0,inf,NaN
5334,0.0,0.0,NaN,15000.0,1.0,0.0,18000.0,NaN,NaN,NaN,NaN,12000.0,inf,inf
5399,NaN,NaN,NaN,700.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,200.0,inf,NaN
5404,NaN,NaN,NaN,1500.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0,inf,NaN
5439,NaN,NaN,NaN,1500.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,300.0,inf,NaN
5451,NaN,NaN,NaN,4400.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,1420.0,inf,NaN
5463,NaN,NaN,NaN,280.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,200.0,inf,NaN
5468,NaN,NaN,NaN,1200.0,1.0,0.0,2000.0,NaN,NaN,NaN,NaN,0.0,inf,inf
5473,NaN,NaN,NaN,1600.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,700.0,inf,NaN
5480,NaN,NaN,NaN,500.0,1.0,0.0,1500.0,NaN,NaN,NaN,NaN,200.0,inf,inf
5524,NaN,NaN,NaN,500.0,1.0,0.0,1000.0,NaN,NaN,NaN,NaN,150.0,inf,inf
5558,NaN,NaN,NaN,1900.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,1600.0,inf,NaN
5611,NaN,NaN,NaN,2000.0,1.0,0.0,4000.0,NaN,NaN,NaN,NaN,800.0,inf,inf
5620,NaN,NaN,NaN,150.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,150.0,inf,NaN
6222,NaN,NaN,NaN,6000.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,3000.0,inf,NaN
6638,NaN,NaN,NaN,500.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,200.0,inf,NaN
7488,NaN,NaN,NaN,600.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,200.0,inf,NaN
7549,NaN,NaN,NaN,9340.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,2140.0,inf,NaN
7629,NaN,NaN,NaN,2800.0,1.0,0.0,4000.0,NaN,NaN,NaN,NaN,2000.0,inf,inf
7753,NaN,NaN,NaN,2000.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,900.0,inf,NaN
8088,NaN,NaN,NaN,5600.0,1.0,0.0,8000.0,NaN,NaN,NaN,NaN,2000.0,inf,inf
8089,NaN,NaN,NaN,3000.0,1.0,0.0,5000.0,NaN,NaN,NaN,NaN,2000.0,inf,inf
9494,NaN,NaN,NaN,1000.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,300.0,inf,NaN

We see that sometimes only hh_n34 and sometimes both 'hh_n34' and 'hh_n35' are missing.
- 1st case both are missing we put the value in hh_n32 for both
- 2nd case only hh_n34 is missing we estimate it as the average between 'hh_n32' and 'hh_n35'

In [101]:
# First case
ep_data.loc[(ep_data['low_sales_fac']==np.inf)&(ep_data['hh_n33']==1.0)&(ep_data['hh_n35']==0.),['hh_n34','hh_n35']]=ep_data.loc[(ep_data['low_sales_fac']==np.inf)&(ep_data['hh_n33']==1.0)&(ep_data['hh_n35']==0.),'hh_n32']

In [102]:
# Check
ep_data.loc[(ep_data['low_sales_fac']==np.inf)&(ep_data['hh_n33']==1.0)].iloc[:,25:]

,hh_n25w,hh_n25x,hh_n25y,hh_n32,hh_n33,hh_n34,hh_n35,hh_n36,hh_n37,hh_n38,hh_n39,hh_n40,low_sales_fac,high_sales_fac
40,NaN,NaN,NaN,3000.0,1.0,3000.0,3000.0,NaN,NaN,NaN,NaN,140.0,inf,NaN
163,NaN,NaN,NaN,6300.0,1.0,6300.0,6300.0,NaN,NaN,NaN,NaN,2300.0,inf,NaN
244,0.0,0.0,NaN,10000.0,1.0,10000.0,10000.0,NaN,NaN,NaN,NaN,3000.0,inf,NaN
427,NaN,NaN,NaN,7000.0,1.0,7000.0,7000.0,NaN,NaN,NaN,NaN,4400.0,inf,NaN
442,NaN,NaN,NaN,5200.0,1.0,0.0,10400.0,NaN,NaN,NaN,NaN,32400.0,inf,inf
456,NaN,NaN,NaN,7000.0,1.0,7000.0,7000.0,NaN,NaN,NaN,NaN,4000.0,inf,NaN
510,NaN,NaN,NaN,1000.0,1.0,1000.0,1000.0,NaN,NaN,NaN,NaN,300.0,inf,NaN
514,NaN,NaN,NaN,1000.0,1.0,1000.0,1000.0,NaN,NaN,NaN,NaN,500.0,inf,NaN
545,NaN,NaN,NaN,800.0,1.0,0.0,2000.0,NaN,NaN,NaN,NaN,300.0,inf,inf
902,NaN,NaN,NaN,17000.0,1.0,0.0,17000.0,NaN,NaN,NaN,NaN,9000.0,inf,inf
1618,NaN,NaN,NaN,4000.0,1.0,4000.0,4000.0,NaN,NaN,NaN,NaN,1000.0,inf,NaN
1735,NaN,NaN,NaN,1800.0,1.0,0.0,9000.0,NaN,NaN,NaN,NaN,600.0,inf,inf
1876,NaN,NaN,NaN,5000.0,1.0,5000.0,5000.0,NaN,NaN,NaN,NaN,500.0,inf,NaN
1882,NaN,NaN,NaN,3000.0,1.0,3000.0,3000.0,NaN,NaN,NaN,NaN,2200.0,inf,NaN
1883,NaN,NaN,NaN,1000.0,1.0,1000.0,1000.0,NaN,NaN,NaN,NaN,200.0,inf,NaN
1995,NaN,NaN,NaN,2300.0,1.0,0.0,9870.0,NaN,NaN,NaN,NaN,400.0,inf,inf
2066,NaN,NaN,NaN,11000.0,1.0,0.0,96000.0,NaN,NaN,NaN,NaN,0.0,inf,inf
2253,NaN,NaN,NaN,1645.0,1.0,1645.0,1645.0,NaN,NaN,NaN,NaN,200.0,inf,NaN
2254,NaN,NaN,NaN,18000.0,1.0,18000.0,18000.0,NaN,NaN,NaN,NaN,9000.0,inf,NaN
2700,NaN,NaN,NaN,1000.0,1.0,0.0,2700.0,1000.0,NaN,NaN,NaN,1000.0,inf,inf
2717,NaN,NaN,NaN,8000.0,1.0,0.0,18000.0,NaN,NaN,NaN,NaN,200.0,inf,inf
3473,NaN,NaN,NaN,3000.0,1.0,3000.0,3000.0,NaN,NaN,NaN,NaN,2000.0,inf,NaN
3890,NaN,NaN,NaN,1000.0,1.0,1000.0,1000.0,NaN,NaN,NaN,NaN,300.0,inf,NaN
4051,NaN,NaN,NaN,15000.0,1.0,0.0,20000.0,NaN,NaN,NaN,NaN,12000.0,inf,inf
4056,0.0,NaN,NaN,2900.0,1.0,2900.0,2900.0,NaN,NaN,NaN,NaN,1700.0,inf,NaN
4079,NaN,NaN,NaN,1500.0,1.0,1500.0,1500.0,NaN,NaN,NaN,NaN,1100.0,inf,NaN
4095,NaN,NaN,NaN,1300.0,1.0,1300.0,1300.0,NaN,NaN,NaN,NaN,300.0,inf,NaN
4163,NaN,NaN,NaN,6500.0,1.0,6500.0,6500.0,NaN,NaN,NaN,NaN,2500.0,inf,NaN
4165,NaN,NaN,NaN,750.0,1.0,750.0,750.0,NaN,NaN,NaN,NaN,250.0,inf,NaN
4203,NaN,NaN,NaN,5000.0,1.0,5000.0,5000.0,NaN,NaN,NaN,NaN,2500.0,inf,NaN
4220,NaN,NaN,NaN,8000.0,1.0,8000.0,8000.0,NaN,NaN,NaN,NaN,2500.0,inf,NaN
4287,1.0,NaN,NaN,18600.0,1.0,0.0,22000.0,NaN,NaN,NaN,NaN,9827.0,inf,inf
4669,NaN,NaN,NaN,13000.0,1.0,0.0,15000.0,NaN,NaN,NaN,NaN,5000.0,inf,inf
4897,NaN,NaN,NaN,6000.0,1.0,0.0,6000.0,NaN,NaN,NaN,NaN,3200.0,inf,inf
5301,NaN,NaN,NaN,1000.0,1.0,1000.0,1000.0,NaN,NaN,NaN,NaN,0.0,inf,NaN
5334,0.0,0.0,NaN,15000.0,1.0,0.0,18000.0,NaN,NaN,NaN,NaN,12000.0,inf,inf
5399,NaN,NaN,NaN,700.0,1.0,700.0,700.0,NaN,NaN,NaN,NaN,200.0,inf,NaN
5404,NaN,NaN,NaN,1500.0,1.0,1500.0,1500.0,NaN,NaN,NaN,NaN,0.0,inf,NaN
5439,NaN,NaN,NaN,1500.0,1.0,1500.0,1500.0,NaN,NaN,NaN,NaN,300.0,inf,NaN
5451,NaN,NaN,NaN,4400.0,1.0,4400.0,4400.0,NaN,NaN,NaN,NaN,1420.0,inf,NaN
5463,NaN,NaN,NaN,280.0,1.0,280.0,280.0,NaN,NaN,NaN,NaN,200.0,inf,NaN
5468,NaN,NaN,NaN,1200.0,1.0,0.0,2000.0,NaN,NaN,NaN,NaN,0.0,inf,inf
5473,NaN,NaN,NaN,1600.0,1.0,1600.0,1600.0,NaN,NaN,NaN,NaN,700.0,inf,NaN
5480,NaN,NaN,NaN,500.0,1.0,0.0,1500.0,NaN,NaN,NaN,NaN,200.0,inf,inf
5524,NaN,NaN,NaN,500.0,1.0,0.0,1000.0,NaN,NaN,NaN,NaN,150.0,inf,inf
5558,NaN,NaN,NaN,1900.0,1.0,1900.0,1900.0,NaN,NaN,NaN,NaN,1600.0,inf,NaN
5611,NaN,NaN,NaN,2000.0,1.0,0.0,4000.0,NaN,NaN,NaN,NaN,800.0,inf,inf
5620,NaN,NaN,NaN,150.0,1.0,150.0,150.0,NaN,NaN,NaN,NaN,150.0,inf,NaN
6222,NaN,NaN,NaN,6000.0,1.0,6000.0,6000.0,NaN,NaN,NaN,NaN,3000.0,inf,NaN
6638,NaN,NaN,NaN,500.0,1.0,500.0,500.0,NaN,NaN,NaN,NaN,200.0,inf,NaN
7488,NaN,NaN,NaN,600.0,1.0,600.0,600.0,NaN,NaN,NaN,NaN,200.0,inf,NaN
7549,NaN,NaN,NaN,9340.0,1.0,9340.0,9340.0,NaN,NaN,NaN,NaN,2140.0,inf,NaN
7629,NaN,NaN,NaN,2800.0,1.0,0.0,4000.0,NaN,NaN,NaN,NaN,2000.0,inf,inf
7753,NaN,NaN,NaN,2000.0,1.0,2000.0,2000.0,NaN,NaN,NaN,NaN,900.0,inf,NaN
8088,NaN,NaN,NaN,5600.0,1.0,0.0,8000.0,NaN,NaN,NaN,NaN,2000.0,inf,inf
8089,NaN,NaN,NaN,3000.0,1.0,0.0,5000.0,NaN,NaN,NaN,NaN,2000.0,inf,inf
9494,NaN,NaN,NaN,1000.0,1.0,1000.0,1000.0,NaN,NaN,NaN,NaN,300.0,inf,NaN

In [103]:
# Second case
ep_data.loc[(ep_data['low_sales_fac']==np.inf)&(ep_data['hh_n33']==1.0)&(ep_data['hh_n34']==0.), 'hh_n34']= (ep_data.loc[(ep_data['low_sales_fac']==np.inf)&(ep_data['hh_n33']==1.0)&(ep_data['hh_n34']==0.),'hh_n35']+\
ep_data.loc[(ep_data['low_sales_fac']==np.inf)&(ep_data['hh_n33']==1.0)&(ep_data['hh_n34']==0.),'hh_n32'])/2

In [104]:
ep_data.loc[(ep_data['low_sales_fac']==np.inf)&(ep_data['hh_n33']==1.0)].iloc[:, 25:]

,hh_n25w,hh_n25x,hh_n25y,hh_n32,hh_n33,hh_n34,hh_n35,hh_n36,hh_n37,hh_n38,hh_n39,hh_n40,low_sales_fac,high_sales_fac
40,NaN,NaN,NaN,3000.0,1.0,3000.0,3000.0,NaN,NaN,NaN,NaN,140.0,inf,NaN
163,NaN,NaN,NaN,6300.0,1.0,6300.0,6300.0,NaN,NaN,NaN,NaN,2300.0,inf,NaN
244,0.0,0.0,NaN,10000.0,1.0,10000.0,10000.0,NaN,NaN,NaN,NaN,3000.0,inf,NaN
427,NaN,NaN,NaN,7000.0,1.0,7000.0,7000.0,NaN,NaN,NaN,NaN,4400.0,inf,NaN
442,NaN,NaN,NaN,5200.0,1.0,7800.0,10400.0,NaN,NaN,NaN,NaN,32400.0,inf,inf
456,NaN,NaN,NaN,7000.0,1.0,7000.0,7000.0,NaN,NaN,NaN,NaN,4000.0,inf,NaN
510,NaN,NaN,NaN,1000.0,1.0,1000.0,1000.0,NaN,NaN,NaN,NaN,300.0,inf,NaN
514,NaN,NaN,NaN,1000.0,1.0,1000.0,1000.0,NaN,NaN,NaN,NaN,500.0,inf,NaN
545,NaN,NaN,NaN,800.0,1.0,1400.0,2000.0,NaN,NaN,NaN,NaN,300.0,inf,inf
902,NaN,NaN,NaN,17000.0,1.0,17000.0,17000.0,NaN,NaN,NaN,NaN,9000.0,inf,inf
1618,NaN,NaN,NaN,4000.0,1.0,4000.0,4000.0,NaN,NaN,NaN,NaN,1000.0,inf,NaN
1735,NaN,NaN,NaN,1800.0,1.0,5400.0,9000.0,NaN,NaN,NaN,NaN,600.0,inf,inf
1876,NaN,NaN,NaN,5000.0,1.0,5000.0,5000.0,NaN,NaN,NaN,NaN,500.0,inf,NaN
1882,NaN,NaN,NaN,3000.0,1.0,3000.0,3000.0,NaN,NaN,NaN,NaN,2200.0,inf,NaN
1883,NaN,NaN,NaN,1000.0,1.0,1000.0,1000.0,NaN,NaN,NaN,NaN,200.0,inf,NaN
1995,NaN,NaN,NaN,2300.0,1.0,6085.0,9870.0,NaN,NaN,NaN,NaN,400.0,inf,inf
2066,NaN,NaN,NaN,11000.0,1.0,53500.0,96000.0,NaN,NaN,NaN,NaN,0.0,inf,inf
2253,NaN,NaN,NaN,1645.0,1.0,1645.0,1645.0,NaN,NaN,NaN,NaN,200.0,inf,NaN
2254,NaN,NaN,NaN,18000.0,1.0,18000.0,18000.0,NaN,NaN,NaN,NaN,9000.0,inf,NaN
2700,NaN,NaN,NaN,1000.0,1.0,1850.0,2700.0,1000.0,NaN,NaN,NaN,1000.0,inf,inf
2717,NaN,NaN,NaN,8000.0,1.0,13000.0,18000.0,NaN,NaN,NaN,NaN,200.0,inf,inf
3473,NaN,NaN,NaN,3000.0,1.0,3000.0,3000.0,NaN,NaN,NaN,NaN,2000.0,inf,NaN
3890,NaN,NaN,NaN,1000.0,1.0,1000.0,1000.0,NaN,NaN,NaN,NaN,300.0,inf,NaN
4051,NaN,NaN,NaN,15000.0,1.0,17500.0,20000.0,NaN,NaN,NaN,NaN,12000.0,inf,inf
4056,0.0,NaN,NaN,2900.0,1.0,2900.0,2900.0,NaN,NaN,NaN,NaN,1700.0,inf,NaN
4079,NaN,NaN,NaN,1500.0,1.0,1500.0,1500.0,NaN,NaN,NaN,NaN,1100.0,inf,NaN
4095,NaN,NaN,NaN,1300.0,1.0,1300.0,1300.0,NaN,NaN,NaN,NaN,300.0,inf,NaN
4163,NaN,NaN,NaN,6500.0,1.0,6500.0,6500.0,NaN,NaN,NaN,NaN,2500.0,inf,NaN
4165,NaN,NaN,NaN,750.0,1.0,750.0,750.0,NaN,NaN,NaN,NaN,250.0,inf,NaN
4203,NaN,NaN,NaN,5000.0,1.0,5000.0,5000.0,NaN,NaN,NaN,NaN,2500.0,inf,NaN
4220,NaN,NaN,NaN,8000.0,1.0,8000.0,8000.0,NaN,NaN,NaN,NaN,2500.0,inf,NaN
4287,1.0,NaN,NaN,18600.0,1.0,20300.0,22000.0,NaN,NaN,NaN,NaN,9827.0,inf,inf
4669,NaN,NaN,NaN,13000.0,1.0,14000.0,15000.0,NaN,NaN,NaN,NaN,5000.0,inf,inf
4897,NaN,NaN,NaN,6000.0,1.0,6000.0,6000.0,NaN,NaN,NaN,NaN,3200.0,inf,inf
5301,NaN,NaN,NaN,1000.0,1.0,1000.0,1000.0,NaN,NaN,NaN,NaN,0.0,inf,NaN
5334,0.0,0.0,NaN,15000.0,1.0,16500.0,18000.0,NaN,NaN,NaN,NaN,12000.0,inf,inf
5399,NaN,NaN,NaN,700.0,1.0,700.0,700.0,NaN,NaN,NaN,NaN,200.0,inf,NaN
5404,NaN,NaN,NaN,1500.0,1.0,1500.0,1500.0,NaN,NaN,NaN,NaN,0.0,inf,NaN
5439,NaN,NaN,NaN,1500.0,1.0,1500.0,1500.0,NaN,NaN,NaN,NaN,300.0,inf,NaN
5451,NaN,NaN,NaN,4400.0,1.0,4400.0,4400.0,NaN,NaN,NaN,NaN,1420.0,inf,NaN
5463,NaN,NaN,NaN,280.0,1.0,280.0,280.0,NaN,NaN,NaN,NaN,200.0,inf,NaN
5468,NaN,NaN,NaN,1200.0,1.0,1600.0,2000.0,NaN,NaN,NaN,NaN,0.0,inf,inf
5473,NaN,NaN,NaN,1600.0,1.0,1600.0,1600.0,NaN,NaN,NaN,NaN,700.0,inf,NaN
5480,NaN,NaN,NaN,500.0,1.0,1000.0,1500.0,NaN,NaN,NaN,NaN,200.0,inf,inf
5524,NaN,NaN,NaN,500.0,1.0,750.0,1000.0,NaN,NaN,NaN,NaN,150.0,inf,inf
5558,NaN,NaN,NaN,1900.0,1.0,1900.0,1900.0,NaN,NaN,NaN,NaN,1600.0,inf,NaN
5611,NaN,NaN,NaN,2000.0,1.0,3000.0,4000.0,NaN,NaN,NaN,NaN,800.0,inf,inf
5620,NaN,NaN,NaN,150.0,1.0,150.0,150.0,NaN,NaN,NaN,NaN,150.0,inf,NaN
6222,NaN,NaN,NaN,6000.0,1.0,6000.0,6000.0,NaN,NaN,NaN,NaN,3000.0,inf,NaN
6638,NaN,NaN,NaN,500.0,1.0,500.0,500.0,NaN,NaN,NaN,NaN,200.0,inf,NaN
7488,NaN,NaN,NaN,600.0,1.0,600.0,600.0,NaN,NaN,NaN,NaN,200.0,inf,NaN
7549,NaN,NaN,NaN,9340.0,1.0,9340.0,9340.0,NaN,NaN,NaN,NaN,2140.0,inf,NaN
7629,NaN,NaN,NaN,2800.0,1.0,3400.0,4000.0,NaN,NaN,NaN,NaN,2000.0,inf,inf
7753,NaN,NaN,NaN,2000.0,1.0,2000.0,2000.0,NaN,NaN,NaN,NaN,900.0,inf,NaN
8088,NaN,NaN,NaN,5600.0,1.0,6800.0,8000.0,NaN,NaN,NaN,NaN,2000.0,inf,inf
8089,NaN,NaN,NaN,3000.0,1.0,4000.0,5000.0,NaN,NaN,NaN,NaN,2000.0,inf,inf
9494,NaN,NaN,NaN,1000.0,1.0,1000.0,1000.0,NaN,NaN,NaN,NaN,300.0,inf,NaN

In [105]:
# We continue with the case that the last month was one of average sales
ep_data.loc[(ep_data['low_sales_fac']==np.inf)&(ep_data['hh_n33']==2.0)].iloc[:, 25:]

,hh_n25w,hh_n25x,hh_n25y,hh_n32,hh_n33,hh_n34,hh_n35,hh_n36,hh_n37,hh_n38,hh_n39,hh_n40,low_sales_fac,high_sales_fac
11948,NaN,NaN,NaN,0.0,2.0,NaN,NaN,500.0,900.0,NaN,NaN,400.0,inf,inf

In [106]:
# we only need to estimate the average sales from the high and low ones
ep_data.loc[(ep_data['low_sales_fac']==np.inf)&(ep_data['hh_n33']==2.0),'hh_n32']=(ep_data.loc[(ep_data['low_sales_fac']==np.inf)&(ep_data['hh_n33']==2.0),'hh_n36']+\
                                                                                  ep_data.loc[(ep_data['low_sales_fac']==np.inf)&(ep_data['hh_n33']==2.0),'hh_n37'])/2

In [107]:
ep_data.loc[(ep_data['low_sales_fac']==np.inf)&(ep_data['hh_n33']==2.0)].iloc[:, 25:]

,hh_n25w,hh_n25x,hh_n25y,hh_n32,hh_n33,hh_n34,hh_n35,hh_n36,hh_n37,hh_n38,hh_n39,hh_n40,low_sales_fac,high_sales_fac
11948,NaN,NaN,NaN,700.0,2.0,NaN,NaN,500.0,900.0,NaN,NaN,400.0,inf,inf

In [108]:
# ... and with the case that the last month was one of high sales
ep_data.loc[(ep_data['low_sales_fac']==np.inf)&(ep_data['hh_n33']==3.0)].iloc[:, 25:]

,hh_n25w,hh_n25x,hh_n25y,hh_n32,hh_n33,hh_n34,hh_n35,hh_n36,hh_n37,hh_n38,hh_n39,hh_n40,low_sales_fac,high_sales_fac
5,NaN,NaN,NaN,16000.0,3.0,NaN,NaN,NaN,NaN,12000.0,0.0,7200.0,inf,inf
43,NaN,NaN,NaN,22300.0,3.0,NaN,NaN,NaN,NaN,11800.0,0.0,3500.0,inf,inf
291,NaN,NaN,NaN,18000.0,3.0,NaN,NaN,NaN,NaN,7200.0,0.0,12000.0,inf,inf
295,NaN,NaN,NaN,16500.0,3.0,NaN,NaN,NaN,NaN,9000.0,0.0,1500.0,inf,inf
349,NaN,NaN,NaN,15000.0,3.0,NaN,NaN,NaN,NaN,3000.0,0.0,11000.0,inf,inf
358,NaN,NaN,NaN,32000.0,3.0,NaN,NaN,NaN,NaN,18000.0,0.0,10000.0,inf,inf
361,NaN,NaN,NaN,25000.0,3.0,NaN,NaN,NaN,NaN,15000.0,0.0,5000.0,inf,inf
546,NaN,NaN,NaN,12000.0,3.0,NaN,NaN,NaN,NaN,4000.0,0.0,5000.0,inf,inf
695,NaN,NaN,NaN,750.0,3.0,NaN,NaN,NaN,NaN,500.0,0.0,1750.0,inf,inf
753,NaN,NaN,NaN,18000.0,3.0,NaN,NaN,NaN,NaN,6000.0,0.0,11000.0,inf,inf
760,NaN,NaN,NaN,25000.0,3.0,NaN,NaN,NaN,NaN,19000.0,0.0,6500.0,inf,inf
1590,NaN,NaN,NaN,10000.0,3.0,NaN,NaN,NaN,NaN,3000.0,0.0,9500.0,inf,inf
3946,NaN,NaN,NaN,12000.0,3.0,NaN,NaN,NaN,NaN,6000.0,0.0,6000.0,inf,inf
4050,NaN,NaN,NaN,18000.0,3.0,NaN,NaN,NaN,NaN,9000.0,0.0,300.0,inf,inf
4093,NaN,NaN,NaN,4000.0,3.0,NaN,NaN,NaN,NaN,1800.0,0.0,2000.0,inf,inf
4310,NaN,NaN,NaN,10000.0,3.0,NaN,NaN,NaN,NaN,6000.0,0.0,4800.0,inf,inf
4347,NaN,NaN,NaN,400000.0,3.0,NaN,NaN,NaN,NaN,200000.0,0.0,50000.0,inf,inf
5295,NaN,NaN,NaN,1200.0,3.0,NaN,NaN,NaN,NaN,900.0,0.0,700.0,inf,inf
5307,NaN,NaN,NaN,900.0,3.0,NaN,NaN,NaN,NaN,500.0,0.0,400.0,inf,inf
5445,0.0,NaN,NaN,800.0,3.0,NaN,NaN,NaN,NaN,500.0,0.0,600.0,inf,inf
7023,NaN,NaN,NaN,1100.0,3.0,NaN,NaN,NaN,NaN,1100.0,0.0,1000.0,inf,inf
7826,NaN,NaN,NaN,4000.0,3.0,NaN,NaN,NaN,NaN,3000.0,0.0,400.0,inf,inf
7840,NaN,NaN,NaN,84000.0,3.0,NaN,NaN,NaN,NaN,14000.0,0.0,10000.0,inf,inf
10043,NaN,NaN,NaN,5000.0,3.0,NaN,NaN,NaN,NaN,2000.0,0.0,3000.0,inf,inf
10044,NaN,NaN,NaN,3000.0,3.0,NaN,NaN,NaN,NaN,1000.0,0.0,2000.0,inf,inf
11455,NaN,NaN,NaN,2500.0,3.0,NaN,NaN,NaN,NaN,2500.0,0.0,500.0,inf,inf

In [109]:
ep_data.loc[(ep_data['low_sales_fac']==np.inf)&(ep_data['hh_n33']==3.0),'hh_n39']=(ep_data.loc[(ep_data['low_sales_fac']==np.inf)&(ep_data['hh_n33']==3.0),'hh_n38']+\
                                                                                   ep_data.loc[(ep_data['low_sales_fac']==np.inf)&(ep_data['hh_n33']==3.0),'hh_n32'])/2

In [110]:
ep_data.loc[(ep_data['low_sales_fac']==np.inf)&(ep_data['hh_n33']==3.0)].iloc[:, 25:]

,hh_n25w,hh_n25x,hh_n25y,hh_n32,hh_n33,hh_n34,hh_n35,hh_n36,hh_n37,hh_n38,hh_n39,hh_n40,low_sales_fac,high_sales_fac
5,NaN,NaN,NaN,16000.0,3.0,NaN,NaN,NaN,NaN,12000.0,14000.0,7200.0,inf,inf
43,NaN,NaN,NaN,22300.0,3.0,NaN,NaN,NaN,NaN,11800.0,17050.0,3500.0,inf,inf
291,NaN,NaN,NaN,18000.0,3.0,NaN,NaN,NaN,NaN,7200.0,12600.0,12000.0,inf,inf
295,NaN,NaN,NaN,16500.0,3.0,NaN,NaN,NaN,NaN,9000.0,12750.0,1500.0,inf,inf
349,NaN,NaN,NaN,15000.0,3.0,NaN,NaN,NaN,NaN,3000.0,9000.0,11000.0,inf,inf
358,NaN,NaN,NaN,32000.0,3.0,NaN,NaN,NaN,NaN,18000.0,25000.0,10000.0,inf,inf
361,NaN,NaN,NaN,25000.0,3.0,NaN,NaN,NaN,NaN,15000.0,20000.0,5000.0,inf,inf
546,NaN,NaN,NaN,12000.0,3.0,NaN,NaN,NaN,NaN,4000.0,8000.0,5000.0,inf,inf
695,NaN,NaN,NaN,750.0,3.0,NaN,NaN,NaN,NaN,500.0,625.0,1750.0,inf,inf
753,NaN,NaN,NaN,18000.0,3.0,NaN,NaN,NaN,NaN,6000.0,12000.0,11000.0,inf,inf
760,NaN,NaN,NaN,25000.0,3.0,NaN,NaN,NaN,NaN,19000.0,22000.0,6500.0,inf,inf
1590,NaN,NaN,NaN,10000.0,3.0,NaN,NaN,NaN,NaN,3000.0,6500.0,9500.0,inf,inf
3946,NaN,NaN,NaN,12000.0,3.0,NaN,NaN,NaN,NaN,6000.0,9000.0,6000.0,inf,inf
4050,NaN,NaN,NaN,18000.0,3.0,NaN,NaN,NaN,NaN,9000.0,13500.0,300.0,inf,inf
4093,NaN,NaN,NaN,4000.0,3.0,NaN,NaN,NaN,NaN,1800.0,2900.0,2000.0,inf,inf
4310,NaN,NaN,NaN,10000.0,3.0,NaN,NaN,NaN,NaN,6000.0,8000.0,4800.0,inf,inf
4347,NaN,NaN,NaN,400000.0,3.0,NaN,NaN,NaN,NaN,200000.0,300000.0,50000.0,inf,inf
5295,NaN,NaN,NaN,1200.0,3.0,NaN,NaN,NaN,NaN,900.0,1050.0,700.0,inf,inf
5307,NaN,NaN,NaN,900.0,3.0,NaN,NaN,NaN,NaN,500.0,700.0,400.0,inf,inf
5445,0.0,NaN,NaN,800.0,3.0,NaN,NaN,NaN,NaN,500.0,650.0,600.0,inf,inf
7023,NaN,NaN,NaN,1100.0,3.0,NaN,NaN,NaN,NaN,1100.0,1100.0,1000.0,inf,inf
7826,NaN,NaN,NaN,4000.0,3.0,NaN,NaN,NaN,NaN,3000.0,3500.0,400.0,inf,inf
7840,NaN,NaN,NaN,84000.0,3.0,NaN,NaN,NaN,NaN,14000.0,49000.0,10000.0,inf,inf
10043,NaN,NaN,NaN,5000.0,3.0,NaN,NaN,NaN,NaN,2000.0,3500.0,3000.0,inf,inf
10044,NaN,NaN,NaN,3000.0,3.0,NaN,NaN,NaN,NaN,1000.0,2000.0,2000.0,inf,inf
11455,NaN,NaN,NaN,2500.0,3.0,NaN,NaN,NaN,NaN,2500.0,2500.0,500.0,inf,inf

In [111]:
# check the high_sales_fac
ep_data.loc[(ep_data['high_sales_fac']==np.inf)&(ep_data['hh_n33']==3.0)
           &(ep_data['hh_n38']==0.0)&(ep_data['hh_n39']==0.0)].iloc[:, 25:]

,hh_n25w,hh_n25x,hh_n25y,hh_n32,hh_n33,hh_n34,hh_n35,hh_n36,hh_n37,hh_n38,hh_n39,hh_n40,low_sales_fac,high_sales_fac
44,NaN,NaN,NaN,18000.0,3.0,NaN,NaN,NaN,NaN,0.0,0.0,9400.0,NaN,inf
665,NaN,NaN,NaN,17000.0,3.0,NaN,NaN,NaN,NaN,0.0,0.0,7000.0,NaN,inf
1609,NaN,NaN,NaN,10000.0,3.0,NaN,NaN,NaN,NaN,0.0,0.0,4200.0,NaN,inf
1794,NaN,NaN,NaN,4000.0,3.0,NaN,NaN,NaN,NaN,0.0,0.0,3000.0,NaN,inf
1878,NaN,NaN,NaN,52000.0,3.0,NaN,NaN,NaN,NaN,0.0,0.0,20000.0,NaN,inf
2049,NaN,NaN,NaN,40000.0,3.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,inf
2120,NaN,NaN,NaN,5000.0,3.0,NaN,NaN,NaN,NaN,0.0,0.0,3000.0,NaN,inf
2182,NaN,NaN,NaN,73000.0,3.0,NaN,NaN,NaN,NaN,0.0,0.0,28000.0,NaN,inf
2202,NaN,NaN,NaN,11000.0,3.0,NaN,NaN,NaN,NaN,0.0,0.0,6000.0,NaN,inf
2264,NaN,NaN,NaN,1400000.0,3.0,NaN,NaN,NaN,NaN,0.0,0.0,400000.0,NaN,inf
2265,NaN,NaN,NaN,300000.0,3.0,NaN,NaN,NaN,NaN,0.0,0.0,180000.0,NaN,inf
2701,NaN,NaN,NaN,6000.0,3.0,NaN,NaN,NaN,NaN,0.0,0.0,4000.0,NaN,inf
3011,NaN,NaN,NaN,4000.0,3.0,NaN,NaN,NaN,NaN,0.0,0.0,1650.0,NaN,inf
3221,NaN,NaN,NaN,3500.0,3.0,NaN,NaN,NaN,NaN,0.0,0.0,3100.0,NaN,inf
3528,NaN,NaN,NaN,1100.0,3.0,NaN,NaN,NaN,NaN,0.0,0.0,200.0,NaN,inf
3567,NaN,NaN,NaN,3200.0,3.0,NaN,NaN,NaN,NaN,0.0,0.0,1700.0,NaN,inf
3679,NaN,NaN,NaN,15000.0,3.0,NaN,NaN,NaN,NaN,0.0,0.0,10000.0,NaN,inf
3710,NaN,NaN,NaN,14000.0,3.0,NaN,NaN,NaN,NaN,0.0,0.0,7000.0,NaN,inf
3949,NaN,NaN,NaN,2000.0,3.0,NaN,NaN,NaN,NaN,0.0,0.0,1000.0,NaN,inf
3950,NaN,NaN,NaN,2000.0,3.0,NaN,NaN,NaN,NaN,0.0,0.0,1000.0,NaN,inf
4004,NaN,NaN,NaN,1200.0,3.0,NaN,NaN,NaN,NaN,0.0,0.0,450.0,NaN,inf
4032,NaN,NaN,NaN,1500.0,3.0,NaN,NaN,NaN,NaN,0.0,0.0,1100.0,NaN,inf
4092,NaN,NaN,NaN,3000.0,3.0,NaN,NaN,NaN,NaN,0.0,0.0,2000.0,NaN,inf
4107,NaN,NaN,NaN,7800.0,3.0,NaN,NaN,NaN,NaN,0.0,0.0,4000.0,NaN,inf
4192,NaN,NaN,NaN,24000.0,3.0,NaN,NaN,NaN,NaN,0.0,0.0,24000.0,NaN,inf
4236,NaN,NaN,NaN,30000.0,3.0,NaN,NaN,NaN,NaN,0.0,0.0,27000.0,NaN,inf
4264,3.0,NaN,NaN,4500.0,3.0,NaN,NaN,NaN,NaN,0.0,0.0,3600.0,NaN,inf
4273,NaN,NaN,NaN,500.0,3.0,NaN,NaN,NaN,NaN,0.0,0.0,500.0,NaN,inf
4275,NaN,NaN,NaN,400.0,3.0,NaN,NaN,NaN,NaN,0.0,0.0,400.0,NaN,inf
4297,0.0,NaN,NaN,4300.0,3.0,NaN,NaN,NaN,NaN,0.0,0.0,3500.0,NaN,inf
5248,NaN,NaN,NaN,3000.0,3.0,NaN,NaN,NaN,NaN,0.0,0.0,2000.0,NaN,inf
5389,NaN,NaN,NaN,1000.0,3.0,NaN,NaN,NaN,NaN,0.0,0.0,600.0,NaN,inf
5412,NaN,NaN,NaN,3000.0,3.0,NaN,NaN,NaN,NaN,0.0,0.0,2000.0,NaN,inf
5432,NaN,NaN,NaN,900.0,3.0,NaN,NaN,NaN,NaN,0.0,0.0,750.0,NaN,inf
5481,NaN,NaN,NaN,6500.0,3.0,NaN,NaN,NaN,NaN,0.0,0.0,1900.0,NaN,inf
5573,NaN,NaN,NaN,15000.0,3.0,NaN,NaN,NaN,NaN,0.0,0.0,15000.0,NaN,inf
6172,NaN,NaN,NaN,200000.0,3.0,NaN,NaN,NaN,NaN,0.0,0.0,80000.0,NaN,inf
6185,NaN,NaN,NaN,60000.0,3.0,NaN,NaN,NaN,NaN,0.0,0.0,27500.0,NaN,inf
6227,NaN,NaN,NaN,12000.0,3.0,NaN,NaN,NaN,NaN,0.0,0.0,6000.0,NaN,inf
6234,NaN,NaN,NaN,40000.0,3.0,NaN,NaN,NaN,NaN,0.0,0.0,16000.0,NaN,inf
6353,NaN,NaN,NaN,114000.0,3.0,NaN,NaN,NaN,NaN,0.0,0.0,34000.0,NaN,inf
6358,NaN,NaN,NaN,12000.0,3.0,NaN,NaN,NaN,NaN,0.0,0.0,5000.0,NaN,inf
6906,NaN,NaN,NaN,1600.0,3.0,NaN,NaN,NaN,NaN,0.0,0.0,810.0,NaN,inf
7581,NaN,NaN,NaN,2500.0,3.0,NaN,NaN,NaN,NaN,0.0,0.0,1500.0,NaN,inf
7774,0.0,3.0,NaN,3200.0,3.0,NaN,NaN,NaN,NaN,0.0,0.0,2160.0,NaN,inf
8425,NaN,NaN,NaN,1000.0,3.0,NaN,NaN,NaN,NaN,0.0,0.0,500.0,NaN,inf
8611,NaN,NaN,NaN,1500.0,3.0,NaN,NaN,NaN,NaN,0.0,0.0,500.0,NaN,inf
8721,NaN,NaN,NaN,10500.0,3.0,NaN,NaN,NaN,NaN,0.0,0.0,4800.0,NaN,inf
9632,NaN,NaN,NaN,4800.0,3.0,NaN,NaN,NaN,NaN,0.0,0.0,350.0,NaN,inf
9860,NaN,NaN,NaN,3000.0,3.0,NaN,NaN,NaN,NaN,0.0,0.0,1000.0,NaN,inf
10847,NaN,NaN,NaN,2500.0,3.0,NaN,NaN,NaN,NaN,0.0,0.0,2000.0,NaN,inf
10852,NaN,NaN,NaN,1500.0,3.0,NaN,NaN,NaN,NaN,0.0,0.0,1000.0,NaN,inf
11844,0.0,0.0,3.0,5600.0,3.0,NaN,NaN,NaN,NaN,0.0,0.0,3000.0,NaN,inf
11848,0.0,3.0,NaN,1500.0,3.0,NaN,NaN,NaN,NaN,0.0,0.0,500.0,NaN,inf
11976,NaN,NaN,NaN,10000.0,3.0,NaN,NaN,NaN,NaN,0.0,0.0,8000.0,NaN,inf
12021,NaN,NaN,NaN,800.0,3.0,NaN,NaN,NaN,NaN,0.0,0.0,300.0,NaN,inf
12312,NaN,NaN,NaN,950000.0,3.0,NaN,NaN,NaN,NaN,0.0,0.0,90000.0,NaN,inf

In [112]:
ep_data.loc[(ep_data['high_sales_fac']==np.inf)&(ep_data['hh_n33']==3.0)
            &(ep_data['hh_n38']==0.0)&(ep_data['hh_n39']==0.0), ['hh_n38', 'hh_n39']]=ep_data.loc[(ep_data['high_sales_fac']==np.inf)&(ep_data['hh_n33']==3.0), 'hh_n32']

In [113]:
ep_data.loc[(ep_data['high_sales_fac']==np.inf)&(ep_data['hh_n33']==3.0)].iloc[:, 25:]

,hh_n25w,hh_n25x,hh_n25y,hh_n32,hh_n33,hh_n34,hh_n35,hh_n36,hh_n37,hh_n38,hh_n39,hh_n40,low_sales_fac,high_sales_fac
5,NaN,NaN,NaN,16000.0,3.0,NaN,NaN,NaN,NaN,12000.0,14000.0,7200.0,inf,inf
43,NaN,NaN,NaN,22300.0,3.0,NaN,NaN,NaN,NaN,11800.0,17050.0,3500.0,inf,inf
44,NaN,NaN,NaN,18000.0,3.0,NaN,NaN,NaN,NaN,18000.0,18000.0,9400.0,NaN,inf
291,NaN,NaN,NaN,18000.0,3.0,NaN,NaN,NaN,NaN,7200.0,12600.0,12000.0,inf,inf
295,NaN,NaN,NaN,16500.0,3.0,NaN,NaN,NaN,NaN,9000.0,12750.0,1500.0,inf,inf
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11844,0.0,0.0,3.0,5600.0,3.0,NaN,NaN,NaN,NaN,5600.0,5600.0,3000.0,NaN,inf
11848,0.0,3.0,NaN,1500.0,3.0,NaN,NaN,NaN,NaN,1500.0,1500.0,500.0,NaN,inf
11976,NaN,NaN,NaN,10000.0,3.0,NaN,NaN,NaN,NaN,10000.0,10000.0,8000.0,NaN,inf
12021,NaN,NaN,NaN,800.0,3.0,NaN,NaN,NaN,NaN,800.0,800.0,300.0,NaN,inf
12312,NaN,NaN,NaN,950000.0,3.0,NaN,NaN,NaN,NaN,950000.0,950000.0,90000.0,NaN,inf

In [114]:
ep_data.loc[ep_data['hh_n33']==1, 'low_sales_fac'] = ep_data.loc[ep_data['hh_n33']==1, 'hh_n32']/ep_data.loc[ep_data['hh_n33']==1, 'hh_n34']
ep_data.loc[ep_data['hh_n33']==2, 'low_sales_fac'] = ep_data.loc[ep_data['hh_n33']==2, 'hh_n36']/ep_data.loc[ep_data['hh_n33']==2, 'hh_n32']
ep_data.loc[ep_data['hh_n33']==3, 'low_sales_fac'] = ep_data.loc[ep_data['hh_n33']==3, 'hh_n38']/ep_data.loc[ep_data['hh_n33']==3, 'hh_n39']

ep_data.loc[ep_data['hh_n33']==1, 'high_sales_fac'] = ep_data.loc[ep_data['hh_n33']==1, 'hh_n35']/ep_data.loc[ep_data['hh_n33']==1, 'hh_n34']
ep_data.loc[ep_data['hh_n33']==2, 'high_sales_fac'] = ep_data.loc[ep_data['hh_n33']==2, 'hh_n37']/ep_data.loc[ep_data['hh_n33']==2, 'hh_n32']
ep_data.loc[ep_data['hh_n33']==3, 'high_sales_fac'] = ep_data.loc[ep_data['hh_n33']==3, 'hh_n32']/ep_data.loc[ep_data['hh_n33']==3, 'hh_n39']

In [115]:
# check
ep_data.loc[(ep_data['low_sales_fac']==np.inf)].iloc[:, 25:]

Empty DataFrame
Columns: [hh_n25w, hh_n25x, hh_n25y, hh_n32, hh_n33, hh_n34, hh_n35, hh_n36, hh_n37, hh_n38, hh_n39, hh_n40, low_sales_fac, high_sales_fac]
Index: []

In [116]:
ep_data.loc[(ep_data['high_sales_fac']==np.inf)].iloc[:, 25:]

Empty DataFrame
Columns: [hh_n25w, hh_n25x, hh_n25y, hh_n32, hh_n33, hh_n34, hh_n35, hh_n36, hh_n37, hh_n38, hh_n39, hh_n40, low_sales_fac, high_sales_fac]
Index: []

In [117]:
ep_data.loc[:,'low_profit'] = np.nan
ep_data.loc[:,'high_profit'] = np.nan
ep_data.loc[:,'average_profit'] = np.nan

In [118]:
ep_data.loc[ep_data['hh_n33']==1, 'low_profit'] = ep_data.loc[ep_data['hh_n33']==1, 'hh_n40']
ep_data.loc[ep_data['hh_n33']==1, 'average_profit'] = ep_data.loc[ep_data['hh_n33']==1, 'hh_n40']/ep_data.loc[ep_data['hh_n33']==1, 'low_sales_fac']
ep_data.loc[ep_data['hh_n33']==1, 'high_profit'] = ep_data.loc[ep_data['hh_n33']==1, 'average_profit']*ep_data.loc[ep_data['hh_n33']==1, 'high_sales_fac']

ep_data.loc[ep_data['hh_n33']==2, 'average_profit'] = ep_data.loc[ep_data['hh_n33']==2, 'hh_n40']
ep_data.loc[ep_data['hh_n33']==2, 'low_profit'] = ep_data.loc[ep_data['hh_n33']==2, 'hh_n40']*ep_data.loc[ep_data['hh_n33']==2, 'low_sales_fac']
ep_data.loc[ep_data['hh_n33']==2, 'high_profit'] = ep_data.loc[ep_data['hh_n33']==2, 'average_profit']*ep_data.loc[ep_data['hh_n33']==2, 'high_sales_fac']

ep_data.loc[ep_data['hh_n33']==3, 'high_profit'] = ep_data.loc[ep_data['hh_n33']==3, 'hh_n40']
ep_data.loc[ep_data['hh_n33']==3, 'average_profit'] = ep_data.loc[ep_data['hh_n33']==3, 'hh_n40']/ep_data.loc[ep_data['hh_n33']==3, 'high_sales_fac']
ep_data.loc[ep_data['hh_n33']==3, 'low_profit'] = ep_data.loc[ep_data['hh_n33']==3, 'average_profit']*ep_data.loc[ep_data['hh_n33']==3, 'low_sales_fac']

Finally, we check whether there are negative profits

In [119]:
ep_data.loc[ep_data['hh_n40']<0].iloc[:,25:]

,hh_n25w,hh_n25x,hh_n25y,hh_n32,hh_n33,hh_n34,hh_n35,hh_n36,hh_n37,hh_n38,hh_n39,hh_n40,low_sales_fac,high_sales_fac,low_profit,high_profit,average_profit
2,NaN,NaN,NaN,700.0,1.0,1500.0,2500.0,NaN,NaN,NaN,NaN,-350.0,0.466667,1.666667,-350.0,-1250.000000,-750.000000
3310,NaN,NaN,NaN,1500.0,1.0,2000.0,4000.0,NaN,NaN,NaN,NaN,-500.0,0.750000,2.000000,-500.0,-1333.333333,-666.666667
3907,NaN,NaN,NaN,5000.0,1.0,6000.0,8500.0,NaN,NaN,NaN,NaN,-7200.0,0.833333,1.416667,-7200.0,-12240.000000,-8640.000000

All negative profits belong to negative profits.
Estimate the sales that are at least necessary to reach 0 profit as the difference between low sales and the low_profit. We set the 'low_profit' to zero and for the average and high profit we substract the sales that are at least necessary to reach 0 from the average sales and the high sales.

In [120]:
ep_data.loc[ep_data['hh_n40']<0,'low_profit']=0
ep_data.loc[ep_data['hh_n40']<0,'average_profit']=ep_data.loc[ep_data['hh_n40']<0, 'hh_n34']-(ep_data.loc[ep_data['hh_n40']<0, 'hh_n32']-ep_data.loc[ep_data['hh_n40']<0, 'hh_n40'])
ep_data.loc[ep_data['hh_n40']<0,'high_profit']= ep_data.loc[ep_data['hh_n40']<0,'average_profit']*ep_data.loc[ep_data['hh_n40']<0, 'high_sales_fac']

In [121]:
ep_data.loc[ep_data['average_profit']<0]

,case_id,hh_n13a,hh_n13b,hh_n25a,hh_n25b,hh_n25c,hh_n25d,hh_n25e,hh_n25f,hh_n25g,...,hh_n36,hh_n37,hh_n38,hh_n39,hh_n40,low_sales_fac,high_sales_fac,low_profit,high_profit,average_profit
3907,204212290095,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,-7200.0,0.833333,1.416667,0.0,-8783.333333,-6200.0

In [122]:
ep_data['average_profit'].iloc[3907]=0
ep_data['high_profit'].iloc[3907]=0
ep_data.iloc[3907,:]

/home/insauer/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

case_id           2.042123e+11
hh_n13a           0.000000e+00
hh_n13b           0.000000e+00
hh_n25a                    NaN
hh_n25b                    NaN
hh_n25c                    NaN
hh_n25d                    NaN
hh_n25e                    NaN
hh_n25f                    NaN
hh_n25g                    NaN
hh_n25h           2.000000e+00
hh_n25i           2.000000e+00
hh_n25j           3.000000e+00
hh_n25k           3.000000e+00
hh_n25l           1.000000e+00
hh_n25m           0.000000e+00
hh_n25n                    NaN
hh_n25o                    NaN
hh_n25p                    NaN
hh_n25q                    NaN
hh_n25r                    NaN
hh_n25s                    NaN
hh_n25t                    NaN
hh_n25u                    NaN
hh_n25v                    NaN
hh_n25w                    NaN
hh_n25x                    NaN
hh_n25y                    NaN
hh_n32            5.000000e+03
hh_n33            1.000000e+00
hh_n34            6.000000e+03
hh_n35            8.500000e+03
hh_n36                     NaN
hh_n37                     NaN
hh_n38                     NaN
hh_n39                     NaN
hh_n40           -7.200000e+03
low_sales_fac     8.333333e-01
high_sales_fac    1.416667e+00
low_profit        0.000000e+00
high_profit       0.000000e+00
average_profit    0.000000e+00
Name: 3907, dtype: float64

In [123]:
ep_data.iloc[:,20:]

,hh_n25r,hh_n25s,hh_n25t,hh_n25u,hh_n25v,hh_n25w,hh_n25x,hh_n25y,hh_n32,hh_n33,...,hh_n36,hh_n37,hh_n38,hh_n39,hh_n40,low_sales_fac,high_sales_fac,low_profit,high_profit,average_profit
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1200.0,1.0,...,NaN,NaN,NaN,NaN,500.0,0.400000,1.566667,500.000000,1958.333333,1250.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,700.0,1.0,...,NaN,NaN,NaN,NaN,-350.0,0.466667,1.666667,0.000000,750.000000,450.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12504,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12505,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12506,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12507,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12508,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7000.0,2.0,...,500.0,12000.0,NaN,NaN,3000.0,0.071429,1.714286,214.285714,5142.857143,3000.0

In [124]:
op_data = ep_data[['hh_n25a', 'hh_n25b', 'hh_n25c', 'hh_n25d', 'hh_n25e', 'hh_n25f', 'hh_n25g',
                   'hh_n25h', 'hh_n25i', 'hh_n25j','hh_n25k', 'hh_n25l', 'hh_n25m', 'hh_n25n', 'hh_n25o', 'hh_n25p',
                   'hh_n25q', 'hh_n25r', 'hh_n25s', 'hh_n25t', 'hh_n25u', 'hh_n25v', 'hh_n25w', 'hh_n25x', 'hh_n25y']]

In [125]:
op_data #= op_data.transpose()

,hh_n25a,hh_n25b,hh_n25c,hh_n25d,hh_n25e,hh_n25f,hh_n25g,hh_n25h,hh_n25i,hh_n25j,...,hh_n25p,hh_n25q,hh_n25r,hh_n25s,hh_n25t,hh_n25u,hh_n25v,hh_n25w,hh_n25x,hh_n25y
0,NaN,3.0,3.0,3.0,2.0,2.0,2.0,2.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12504,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12505,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12506,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12507,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12508,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,...,2.0,3.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [126]:
op_data = op_data.transpose()

In [127]:
op_data

,0,1,2,3,4,5,6,7,8,9,...,12499,12500,12501,12502,12503,12504,12505,12506,12507,12508
hh_n25a,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
hh_n25b,3.0,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
hh_n25c,3.0,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
hh_n25d,3.0,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
hh_n25e,2.0,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
hh_n25f,2.0,NaN,NaN,NaN,NaN,1.0,2.0,NaN,NaN,NaN,...,NaN,1.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN
hh_n25g,2.0,NaN,NaN,NaN,NaN,1.0,3.0,NaN,NaN,NaN,...,NaN,1.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,0.0
hh_n25h,2.0,NaN,NaN,NaN,NaN,1.0,3.0,NaN,NaN,NaN,...,NaN,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,0.0
hh_n25i,1.0,NaN,NaN,NaN,NaN,1.0,2.0,NaN,NaN,NaN,...,NaN,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,0.0
hh_n25j,1.0,NaN,NaN,NaN,NaN,1.0,3.0,NaN,NaN,NaN,...,NaN,1.0,NaN,3.0,NaN,NaN,NaN,NaN,NaN,0.0
hh_n25k,1.0,NaN,2.0,NaN,NaN,3.0,2.0,NaN,NaN,NaN,...,NaN,1.0,NaN,3.0,NaN,NaN,NaN,NaN,NaN,0.0
hh_n25l,1.0,NaN,3.0,NaN,NaN,3.0,0.0,NaN,NaN,NaN,...,NaN,1.0,NaN,3.0,NaN,NaN,NaN,NaN,NaN,0.0
hh_n25m,1.0,NaN,1.0,NaN,NaN,3.0,0.0,NaN,NaN,NaN,...,NaN,2.0,NaN,3.0,NaN,NaN,NaN,NaN,NaN,3.0
hh_n25n,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,3.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.0
hh_n25o,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,3.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,3.0
hh_n25p,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,2.0
hh_n25q,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,3.0
hh_n25r,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
hh_n25s,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
hh_n25t,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
hh_n25u,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
hh_n25v,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
hh_n25w,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
hh_n25x,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
hh_n25y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [128]:
ep_data['last_month'] = op_data.apply(pd.Series.last_valid_index)

In [129]:
ep_data

,case_id,hh_n13a,hh_n13b,hh_n25a,hh_n25b,hh_n25c,hh_n25d,hh_n25e,hh_n25f,hh_n25g,...,hh_n37,hh_n38,hh_n39,hh_n40,low_sales_fac,high_sales_fac,low_profit,high_profit,average_profit,last_month
0,101010160009,0.0,0.0,NaN,3.0,3.0,3.0,2.0,2.0,2.0,...,NaN,NaN,NaN,500.0,0.400000,1.566667,500.000000,1958.333333,1250.0,hh_n25n
1,101010160033,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
2,101010160060,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,-350.0,0.466667,1.666667,0.000000,750.000000,450.0,hh_n25m
3,101010160068,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
4,101010160069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12504,315556140342,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
12505,315556140365,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
12506,315556140388,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
12507,315556140411,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
12508,315556140434,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,12000.0,NaN,NaN,3000.0,0.071429,1.714286,214.285714,5142.857143,3000.0,hh_n25r

In [130]:
def select_col(x):
    
    month_cols = ['hh_n25a', 'hh_n25b', 'hh_n25c', 'hh_n25d', 'hh_n25e', 'hh_n25f', 'hh_n25g',
                   'hh_n25h', 'hh_n25i', 'hh_n25j','hh_n25k', 'hh_n25l', 'hh_n25m', 'hh_n25n', 'hh_n25o', 'hh_n25p',
                   'hh_n25q', 'hh_n25r', 'hh_n25s', 'hh_n25t', 'hh_n25u', 'hh_n25v', 'hh_n25w', 'hh_n25x', 'hh_n25y']
    
    co_owners = x['hh_n13a'] + x['hh_n13b'] + 1
    
    if not x['last_month'] is None:
        last_prod = x[x['last_month']]
    else:
        last_prod = np.nan

    n_month = 0
    productivity=['low_profit','average_profit', 'high_profit']
    profit = 0
    for month in month_cols:
        if not (np.isnan(x[month]) or x[month]==0. or x[month]>3.0):
            profit+=x[productivity[int(x[month]-1)]]
            n_month+=1
    
    if n_month >12:
        annual_profit = (profit/n_month)*12
    else:
        annual_profit = profit
    weekly_profit = annual_profit/52
    
    annual_profit_pcoo = annual_profit/co_owners
    
    weekly_profit_pcoo = weekly_profit/co_owners
    
    return pd.Series([x['case_id'],
                      last_prod,
                      n_month,
                      annual_profit,
                      weekly_profit,
                      annual_profit_pcoo,
                      weekly_profit_pcoo],
                     index=['case_id',
                            'last_prod',
                            'n_month',
                            'annual_profit',
                            'weekly_profit',
                            'annual_profit_pcoo',
                            'weekly_profit_pcoo'])

In [131]:
ep_fin_data = ep_data.apply(select_col, axis=1)

In [132]:
ep_data.iloc[:,5:]

,hh_n25c,hh_n25d,hh_n25e,hh_n25f,hh_n25g,hh_n25h,hh_n25i,hh_n25j,hh_n25k,hh_n25l,...,hh_n37,hh_n38,hh_n39,hh_n40,low_sales_fac,high_sales_fac,low_profit,high_profit,average_profit,last_month
0,3.0,3.0,2.0,2.0,2.0,2.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,500.0,0.400000,1.566667,500.000000,1958.333333,1250.0,hh_n25n
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,3.0,...,NaN,NaN,NaN,-350.0,0.466667,1.666667,0.000000,750.000000,450.0,hh_n25m
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12504,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
12505,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
12506,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
12507,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
12508,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,...,12000.0,NaN,NaN,3000.0,0.071429,1.714286,214.285714,5142.857143,3000.0,hh_n25r

In [133]:
ep_fin_data

,case_id,last_prod,n_month,annual_profit,weekly_profit,annual_profit_pcoo,weekly_profit_pcoo
0,1.010102e+11,1.0,13.0,12807.692308,246.301775,12807.692308,246.301775
1,1.010102e+11,NaN,0.0,0.000000,0.000000,NaN,NaN
2,1.010102e+11,1.0,3.0,1200.000000,23.076923,1200.000000,23.076923
3,1.010102e+11,NaN,0.0,0.000000,0.000000,NaN,NaN
4,1.010102e+11,NaN,0.0,0.000000,0.000000,NaN,NaN
...,...,...,...,...,...,...,...
12504,3.155561e+11,NaN,0.0,0.000000,0.000000,NaN,NaN
12505,3.155561e+11,NaN,0.0,0.000000,0.000000,NaN,NaN
12506,3.155561e+11,NaN,0.0,0.000000,0.000000,NaN,NaN
12507,3.155561e+11,NaN,0.0,0.000000,0.000000,NaN,NaN
12508,3.155561e+11,2.0,6.0,21642.857143,416.208791,21642.857143,416.208791

In [134]:
ep_act = ep_fin_data.groupby(['case_id']).sum()

In [135]:
ep_act['case_id']=ep_act.index

In [136]:
ep_act

,last_prod,n_month,annual_profit,weekly_profit,annual_profit_pcoo,weekly_profit_pcoo,case_id
case_id,,,,,,,
1.010102e+11,1.0,13.0,12807.692308,246.301775,12807.692308,246.301775,1.010102e+11
1.010102e+11,0.0,0.0,0.000000,0.000000,0.000000,0.000000,1.010102e+11
1.010102e+11,1.0,3.0,1200.000000,23.076923,1200.000000,23.076923,1.010102e+11
1.010102e+11,0.0,0.0,0.000000,0.000000,0.000000,0.000000,1.010102e+11
1.010102e+11,0.0,0.0,0.000000,0.000000,0.000000,0.000000,1.010102e+11
...,...,...,...,...,...,...,...
3.155561e+11,0.0,0.0,0.000000,0.000000,0.000000,0.000000,3.155561e+11
3.155561e+11,0.0,0.0,0.000000,0.000000,0.000000,0.000000,3.155561e+11
3.155561e+11,0.0,0.0,0.000000,0.000000,0.000000,0.000000,3.155561e+11
3.155561e+11,0.0,0.0,0.000000,0.000000,0.000000,0.000000,3.155561e+11
3.155561e+11,2.0,6.0,21642.857143,416.208791,21642.857143,416.208791,3.155561e+11

In [137]:
ep_act['case_id']=ep_act['case_id'].astype(int)

In [138]:
ep_act['case_id2']= np.array(general_info['case_id'])

In [139]:
ep_act['check']=ep_act['case_id']-ep_act['case_id2']

In [140]:
ep_act.loc[ep_act['check']!=0]

Empty DataFrame
Columns: [last_prod, n_month, annual_profit, weekly_profit, annual_profit_pcoo, weekly_profit_pcoo, case_id, case_id2, check]
Index: []

In [141]:
general_info['income_enterprise']=np.array(ep_act['annual_profit_pcoo'])

In [142]:
general_info

,case_id,ea_id,isurban,weight,region,income_labour,income_enterprise,inc-sp_child,inc-sp_other,income_other
0,101010160009,10101016,2,126.560097,101,2400.0,12807.692308,0.0,1500.0,0.0
1,101010160033,10101016,2,126.560097,101,0.0,0.000000,2000.0,18000.0,0.0
2,101010160060,10101016,2,126.560097,101,84480.0,1200.000000,20000.0,6000.0,0.0
3,101010160068,10101016,2,126.560097,101,16080.0,0.000000,0.0,0.0,0.0
4,101010160069,10101016,2,126.560097,101,2100.0,0.000000,0.0,250.0,0.0
...,...,...,...,...,...,...,...,...,...,...
12266,315556140342,31555614,1,456.450592,315,90000.0,0.000000,0.0,1500.0,0.0
12267,315556140365,31555614,1,456.450592,315,85680.0,0.000000,0.0,0.0,0.0
12268,315556140388,31555614,1,456.450592,315,72000.0,0.000000,0.0,0.0,0.0
12269,315556140411,31555614,1,456.450592,315,91000.0,0.000000,0.0,0.0,0.0
12270,315556140434,31555614,1,456.450592,315,121800.0,21642.857143,0.0,2000.0,0.0

# Social spendings
Income from children elsewhere. They can live either in Malawi or abroad. We consider the money as income from social transfers and consider it to come from inside the country.

In [143]:
ch_data = pd.read_csv('/home/insauer/projects/WB_model/Data_Malawi/MWI_2010_IHS-III_v01_M_CSV/Full_Sample/Household/hh_mod_o.csv')

In [144]:
ch_data = ch_data[['case_id','hh_o17']]

In [145]:
ep_act = ch_data.groupby(['case_id']).sum()

In [146]:
ep_act

               hh_o17
case_id
101010160009      0.0
101010160033   2000.0
101010160060  20000.0
101010160068      0.0
101010160069      0.0
...               ...
315556140342      0.0
315556140365      0.0
315556140388      0.0
315556140411      0.0
315556140434      0.0

[12271 rows x 1 columns]

In [147]:
general_info['inc-sp_child']=np.array(ep_act['hh_o17'])

In [148]:
general_info

,case_id,ea_id,isurban,weight,region,income_labour,income_enterprise,inc-sp_child,inc-sp_other,income_other
0,101010160009,10101016,2,126.560097,101,2400.0,12807.692308,0.0,1500.0,0.0
1,101010160033,10101016,2,126.560097,101,0.0,0.000000,2000.0,18000.0,0.0
2,101010160060,10101016,2,126.560097,101,84480.0,1200.000000,20000.0,6000.0,0.0
3,101010160068,10101016,2,126.560097,101,16080.0,0.000000,0.0,0.0,0.0
4,101010160069,10101016,2,126.560097,101,2100.0,0.000000,0.0,250.0,0.0
...,...,...,...,...,...,...,...,...,...,...
12266,315556140342,31555614,1,456.450592,315,90000.0,0.000000,0.0,1500.0,0.0
12267,315556140365,31555614,1,456.450592,315,85680.0,0.000000,0.0,0.0,0.0
12268,315556140388,31555614,1,456.450592,315,72000.0,0.000000,0.0,0.0,0.0
12269,315556140411,31555614,1,456.450592,315,91000.0,0.000000,0.0,0.0,0.0
12270,315556140434,31555614,1,456.450592,315,121800.0,21642.857143,0.0,2000.0,0.0

# Other income

In [149]:
oi_data = pd.read_csv('/home/insauer/projects/WB_model/Data_Malawi/MWI_2010_IHS-III_v01_M_CSV/Full_Sample/Household/hh_mod_p.csv')

In [150]:
oi_data

,case_id,visit,ea_id,hh_p0a,hh_p0a_os,hh_p01,hh_p02,hh_p03a,hh_p03b,hh_p03c,hh_p04a,hh_p04b
0,101010160009,1,10101016,101.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN
1,101010160009,1,10101016,102.0,NaN,1.0,NaN,1500.0,0.0,0.0,1.0,NaN
2,101010160009,1,10101016,103.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN
3,101010160009,1,10101016,104.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN
4,101010160009,1,10101016,105.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
184061,315556140434,2,31555614,111.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN
184062,315556140434,2,31555614,112.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN
184063,315556140434,2,31555614,113.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN
184064,315556140434,2,31555614,114.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN
184065,315556140434,2,31555614,115.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN

In [151]:
codes_soc = [101, 102, 103, 105]
soc_oi_data = oi_data.loc[oi_data['hh_p0a'].isin(codes_soc)]

In [152]:
soc_oi_data = soc_oi_data[['case_id', 'hh_p02', 'hh_p03a', 'hh_p03b', 'hh_p03c']]

In [153]:
soc_oi_data_fin = soc_oi_data.groupby(['case_id']).sum()
soc_oi_data_fin['inc-sp_other']=soc_oi_data_fin.sum(axis=1)
soc_oi_data_fin

              hh_p02  hh_p03a  hh_p03b  hh_p03c  inc-sp_other
case_id
101010160009     0.0   1500.0      0.0      0.0        1500.0
101010160033     0.0      0.0  18000.0      0.0       18000.0
101010160060     0.0      0.0   6000.0      0.0        6000.0
101010160068     0.0      0.0      0.0      0.0           0.0
101010160069     0.0    250.0      0.0      0.0         250.0
...              ...      ...      ...      ...           ...
315556140342     0.0      0.0   1500.0      0.0        1500.0
315556140365     0.0      0.0      0.0      0.0           0.0
315556140388     0.0      0.0      0.0      0.0           0.0
315556140411     0.0      0.0      0.0      0.0           0.0
315556140434     0.0   2000.0      0.0      0.0        2000.0

[12271 rows x 5 columns]

In [154]:
general_info['inc-sp_other']=np.array(soc_oi_data_fin['inc-sp_other'])
general_info

,case_id,ea_id,isurban,weight,region,income_labour,income_enterprise,inc-sp_child,inc-sp_other,income_other
0,101010160009,10101016,2,126.560097,101,2400.0,12807.692308,0.0,1500.0,0.0
1,101010160033,10101016,2,126.560097,101,0.0,0.000000,2000.0,18000.0,0.0
2,101010160060,10101016,2,126.560097,101,84480.0,1200.000000,20000.0,6000.0,0.0
3,101010160068,10101016,2,126.560097,101,16080.0,0.000000,0.0,0.0,0.0
4,101010160069,10101016,2,126.560097,101,2100.0,0.000000,0.0,250.0,0.0
...,...,...,...,...,...,...,...,...,...,...
12266,315556140342,31555614,1,456.450592,315,90000.0,0.000000,0.0,1500.0,0.0
12267,315556140365,31555614,1,456.450592,315,85680.0,0.000000,0.0,0.0,0.0
12268,315556140388,31555614,1,456.450592,315,72000.0,0.000000,0.0,0.0,0.0
12269,315556140411,31555614,1,456.450592,315,91000.0,0.000000,0.0,0.0,0.0
12270,315556140434,31555614,1,456.450592,315,121800.0,21642.857143,0.0,2000.0,0.0

In [155]:
codes_inc = [104, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115]
inc_oi_data = oi_data.loc[oi_data['hh_p0a'].isin(codes_inc)]
inc_oi_data = inc_oi_data[['case_id', 'hh_p02', 'hh_p03a', 'hh_p03b', 'hh_p03c']]

In [156]:
inc_oi_data

             case_id  hh_p02  hh_p03a  hh_p03b  hh_p03c
3       101010160009     NaN      NaN      NaN      NaN
5       101010160009     NaN      NaN      NaN      NaN
6       101010160009     NaN      NaN      NaN      NaN
7       101010160009     NaN      NaN      NaN      NaN
8       101010160009     NaN      NaN      NaN      NaN
...              ...     ...      ...      ...      ...
184061  315556140434     NaN      NaN      NaN      NaN
184062  315556140434     NaN      NaN      NaN      NaN
184063  315556140434     NaN      NaN      NaN      NaN
184064  315556140434     NaN      NaN      NaN      NaN
184065  315556140434     NaN      NaN      NaN      NaN

[134981 rows x 5 columns]

In [157]:
inc_oi_data_fin = inc_oi_data.groupby(['case_id']).sum()
inc_oi_data_fin

              hh_p02  hh_p03a  hh_p03b  hh_p03c
case_id
101010160009     0.0      0.0      0.0      0.0
101010160033     0.0      0.0      0.0      0.0
101010160060     0.0      0.0      0.0      0.0
101010160068     0.0      0.0      0.0      0.0
101010160069     0.0      0.0      0.0      0.0
...              ...      ...      ...      ...
315556140342     0.0      0.0      0.0      0.0
315556140365     0.0      0.0      0.0      0.0
315556140388     0.0      0.0      0.0      0.0
315556140411     0.0      0.0      0.0      0.0
315556140434     0.0      0.0      0.0      0.0

[12271 rows x 4 columns]

In [158]:
inc_oi_data_fin['income_other']=inc_oi_data_fin.sum(axis=1)
inc_oi_data_fin

              hh_p02  hh_p03a  hh_p03b  hh_p03c  income_other
case_id
101010160009     0.0      0.0      0.0      0.0           0.0
101010160033     0.0      0.0      0.0      0.0           0.0
101010160060     0.0      0.0      0.0      0.0           0.0
101010160068     0.0      0.0      0.0      0.0           0.0
101010160069     0.0      0.0      0.0      0.0           0.0
...              ...      ...      ...      ...           ...
315556140342     0.0      0.0      0.0      0.0           0.0
315556140365     0.0      0.0      0.0      0.0           0.0
315556140388     0.0      0.0      0.0      0.0           0.0
315556140411     0.0      0.0      0.0      0.0           0.0
315556140434     0.0      0.0      0.0      0.0           0.0

[12271 rows x 5 columns]

In [159]:
general_info['income_other']=np.array(inc_oi_data_fin['income_other'])
general_info.head(50)

,case_id,ea_id,isurban,weight,region,income_labour,income_enterprise,inc-sp_child,inc-sp_other,income_other
0,101010160009,10101016,2,126.560097,101,2400.0,12807.692308,0.0,1500.0,0.0
1,101010160033,10101016,2,126.560097,101,0.0,0.000000,2000.0,18000.0,0.0
2,101010160060,10101016,2,126.560097,101,84480.0,1200.000000,20000.0,6000.0,0.0
3,101010160068,10101016,2,126.560097,101,16080.0,0.000000,0.0,0.0,0.0
4,101010160069,10101016,2,126.560097,101,2100.0,0.000000,0.0,250.0,0.0
5,101010160070,10101016,2,126.560097,101,129000.0,70200.000000,1500.0,0.0,0.0
6,101010160074,10101016,2,126.560097,101,134400.0,11951.428571,0.0,0.0,5000.0
7,101010160086,10101016,2,126.560097,101,277032.0,0.000000,0.0,0.0,0.0
8,101010160096,10101016,2,126.560097,101,1920.0,0.000000,0.0,0.0,0.0
9,101010160143,10101016,2,126.560097,101,4000.0,0.000000,0.0,0.0,0.0
10,101010160159,10101016,2,126.560097,101,2400.0,0.000000,5000.0,5000.0,0.0
11,101010160180,10101016,2,126.560097,101,10800.0,0.000000,0.0,0.0,0.0
12,101010160207,10101016,2,126.560097,101,6100.0,0.000000,0.0,0.0,0.0
13,101010160235,10101016,2,126.560097,101,6750.0,0.000000,0.0,1500.0,0.0
14,101010160254,10101016,2,126.560097,101,2250.0,3465.000000,0.0,800.0,0.0
15,101010160265,10101016,2,126.560097,101,0.0,0.000000,26000.0,0.0,0.0
16,101012040003,10101204,2,151.305405,101,50400.0,0.000000,0.0,0.0,0.0
17,101012040007,10101204,2,151.305405,101,0.0,0.000000,1850.0,5950.0,0.0
18,101012040011,10101204,2,151.305405,101,32000.0,0.000000,0.0,0.0,0.0
19,101012040020,10101204,2,151.305405,101,2100.0,0.000000,0.0,700.0,0.0
20,101012040024,10101204,2,151.305405,101,0.0,0.000000,0.0,1200.0,0.0
21,101012040028,10101204,2,151.305405,101,5000.0,36666.666667,0.0,0.0,0.0
22,101012040037,10101204,2,151.305405,101,0.0,0.000000,1600.0,0.0,0.0
23,101012040041,10101204,2,151.305405,101,7680.0,0.000000,0.0,0.0,0.0
24,101012040045,10101204,2,151.305405,101,15840.0,0.000000,0.0,0.0,0.0
25,101012040054,10101204,2,151.305405,101,0.0,0.000000,0.0,0.0,0.0
26,101012040058,10101204,2,151.305405,101,6000.0,9355.555556,0.0,0.0,0.0
27,101012040062,10101204,2,151.305405,101,0.0,0.000000,0.0,0.0,0.0
28,101012040071,10101204,2,151.305405,101,276000.0,0.000000,0.0,0.0,0.0
29,101012040075,10101204,2,151.305405,101,80000.0,0.000000,0.0,0.0,0.0
30,101012040079,10101204,2,151.305405,101,9000.0,27000.000000,0.0,0.0,0.0
31,101012040087,10101204,2,151.305405,101,0.0,0.000000,0.0,33000.0,0.0
32,101012150001,10101215,2,130.705994,101,0.0,0.000000,3000.0,18000.0,0.0
33,101012150004,10101215,2,130.705994,101,16560.0,0.000000,0.0,0.0,0.0
34,101012150021,10101215,2,130.705994,101,29350.0,4150.000000,0.0,0.0,0.0
35,101012150022,10101215,2,130.705994,101,900.0,0.000000,12000.0,5000.0,0.0
36,101012150026,10101215,2,130.705994,101,0.0,20000.000000,0.0,0.0,0.0
37,101012150028,10101215,2,130.705994,101,0.0,0.000000,6000.0,0.0,0.0
38,101012150034,10101215,2,130.705994,101,0.0,0.000000,0.0,25000.0,0.0
39,101012150038,10101215,2,130.705994,101,800.0,140.000000,0.0,0.0,0.0
40,101012150040,10101215,2,130.705994,101,12600.0,0.000000,0.0,2250.0,0.0
41,101012150045,10101215,2,130.705994,101,9600.0,1333.333333,0.0,0.0,0.0
42,101012150048,10101215,2,130.705994,101,0.0,37056.053812,0.0,1600.0,0.0
43,101012150049,10101215,2,130.705994,101,0.0,51700.000000,0.0,300.0,0.0
44,101012150053,10101215,2,130.705994,101,0.0,0.000000,8000.0,0.0,0.0
45,101012150059,10101215,2,130.705994,101,12600.0,0.000000,0.0,0.0,0.0
46,101012150060,10101215,2,130.705994,101,0.0,0.000000,0.0,6600.0,0.0
47,101012150074,10101215,2,130.705994,101,32400.0,0.000000,0.0,0.0,0.0
48,101012190012,10101219,2,134.102707,101,288000.0,0.000000,0.0,0.0,0.0
49,101012190018,10101219,2,134.102707,101,0.0,0.000000,0.0,0.0,0.0

# Income social safety nets

In [160]:
sn_data = pd.read_csv('/home/insauer/projects/WB_model/Data_Malawi/MWI_2010_IHS-III_v01_M_CSV/Full_Sample/Household/hh_mod_r.csv')

In [161]:
sn_data

,case_id,visit,ea_id,hh_r0a,hh_r0a_os,hh_r01,hh_r02a,hh_r02b,hh_r02c,hh_r03,hh_r04a,hh_r04b,hh_r04c,hh_r04d,hh_r04e,hh_r05a,hh_r05b,hh_r06,hh_r07a,hh_r07b
0,101010160009,1,10101016,101,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,101010160009,1,10101016,102,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,101010160009,1,10101016,103,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,101010160009,1,10101016,104,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,101010160009,1,10101016,105,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159518,315556140434,2,31555614,109,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
159519,315556140434,2,31555614,110,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
159520,315556140434,2,31555614,111,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
159521,315556140434,2,31555614,112,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
159522,315556140434,2,31555614,113,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [162]:
codes = [102, 103, 104, 108, 109, 110, 111, 112]
sn_data = sn_data.loc[sn_data['hh_r0a'].isin(codes)]
sn_data

,case_id,visit,ea_id,hh_r0a,hh_r0a_os,hh_r01,hh_r02a,hh_r02b,hh_r02c,hh_r03,hh_r04a,hh_r04b,hh_r04c,hh_r04d,hh_r04e,hh_r05a,hh_r05b,hh_r06,hh_r07a,hh_r07b
1,101010160009,1,10101016,102,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,101010160009,1,10101016,103,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,101010160009,1,10101016,104,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,101010160009,1,10101016,108,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,101010160009,1,10101016,109,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159517,315556140434,2,31555614,108,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
159518,315556140434,2,31555614,109,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
159519,315556140434,2,31555614,110,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
159520,315556140434,2,31555614,111,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
159521,315556140434,2,31555614,112,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [163]:
sn_data=sn_data[['case_id', 'hh_r02a', 'hh_r02b']]

In [164]:
sn_data['sum_ss'] = sn_data[['hh_r02a', 'hh_r02b']].sum(axis=1)

/home/insauer/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [165]:
sn_data.head(50)

         case_id  hh_r02a  hh_r02b   sum_ss
1   101010160009      NaN      NaN      0.0
2   101010160009      NaN      NaN      0.0
3   101010160009      NaN      NaN      0.0
7   101010160009      NaN      NaN      0.0
8   101010160009      NaN      NaN      0.0
9   101010160009      NaN      NaN      0.0
10  101010160009      NaN      NaN      0.0
11  101010160009      NaN      NaN      0.0
14  101010160033      NaN      NaN      0.0
15  101010160033      NaN      NaN      0.0
16  101010160033      NaN      NaN      0.0
20  101010160033      NaN      NaN      0.0
21  101010160033      NaN      NaN      0.0
22  101010160033      NaN      NaN      0.0
23  101010160033      NaN      NaN      0.0
24  101010160033      NaN      NaN      0.0
27  101010160060      NaN      NaN      0.0
28  101010160060      NaN      NaN      0.0
29  101010160060      NaN      NaN      0.0
33  101010160060      NaN      NaN      0.0
34  101010160060      NaN      NaN      0.0
35  101010160060      NaN      NaN      0.0
36  101010160060      NaN      NaN      0.0
37  101010160060      NaN      NaN      0.0
40  101010160068      NaN      NaN      0.0
41  101010160068      NaN      NaN      0.0
42  101010160068      NaN      NaN      0.0
46  101010160068      NaN      NaN      0.0
47  101010160068      NaN      NaN      0.0
48  101010160068      NaN      NaN      0.0
49  101010160068      NaN      NaN      0.0
50  101010160068      NaN      NaN      0.0
53  101010160069      NaN      NaN      0.0
54  101010160069      NaN      NaN      0.0
55  101010160069      NaN      NaN      0.0
59  101010160069      NaN      NaN      0.0
60  101010160069      NaN      NaN      0.0
61  101010160069      NaN      NaN      0.0
62  101010160069      NaN      NaN      0.0
63  101010160069      NaN      NaN      0.0
66  101010160070      NaN      NaN      0.0
67  101010160070      NaN      NaN      0.0
68  101010160070      NaN      NaN      0.0
72  101010160070  13500.0      0.0  13500.0
73  101010160070      NaN      NaN      0.0
74  101010160070      NaN      NaN      0.0
75  101010160070      NaN      NaN      0.0
76  101010160070      NaN      NaN      0.0
79  101010160074      NaN      NaN      0.0
80  101010160074      NaN      NaN      0.0

In [166]:
sn_data_fin = sn_data.groupby(['case_id']).sum()
sn_data_fin#.head(50)

              hh_r02a  hh_r02b  sum_ss
case_id
101010160009      0.0      0.0     0.0
101010160033      0.0      0.0     0.0
101010160060      0.0      0.0     0.0
101010160068      0.0      0.0     0.0
101010160069      0.0      0.0     0.0
...               ...      ...     ...
315556140342      0.0      0.0     0.0
315556140365      0.0      0.0     0.0
315556140388      0.0      0.0     0.0
315556140411      0.0      0.0     0.0
315556140434      0.0      0.0     0.0

[12271 rows x 3 columns]

In [167]:
general_info['inc-sp_ssn']=np.array(sn_data_fin['sum_ss'])
general_info.head(50)

,case_id,ea_id,isurban,weight,region,income_labour,income_enterprise,inc-sp_child,inc-sp_other,income_other,inc-sp_ssn
0,101010160009,10101016,2,126.560097,101,2400.0,12807.692308,0.0,1500.0,0.0,0.0
1,101010160033,10101016,2,126.560097,101,0.0,0.000000,2000.0,18000.0,0.0,0.0
2,101010160060,10101016,2,126.560097,101,84480.0,1200.000000,20000.0,6000.0,0.0,0.0
3,101010160068,10101016,2,126.560097,101,16080.0,0.000000,0.0,0.0,0.0,0.0
4,101010160069,10101016,2,126.560097,101,2100.0,0.000000,0.0,250.0,0.0,0.0
5,101010160070,10101016,2,126.560097,101,129000.0,70200.000000,1500.0,0.0,0.0,13500.0
6,101010160074,10101016,2,126.560097,101,134400.0,11951.428571,0.0,0.0,5000.0,0.0
7,101010160086,10101016,2,126.560097,101,277032.0,0.000000,0.0,0.0,0.0,0.0
8,101010160096,10101016,2,126.560097,101,1920.0,0.000000,0.0,0.0,0.0,0.0
9,101010160143,10101016,2,126.560097,101,4000.0,0.000000,0.0,0.0,0.0,0.0
10,101010160159,10101016,2,126.560097,101,2400.0,0.000000,5000.0,5000.0,0.0,0.0
11,101010160180,10101016,2,126.560097,101,10800.0,0.000000,0.0,0.0,0.0,0.0
12,101010160207,10101016,2,126.560097,101,6100.0,0.000000,0.0,0.0,0.0,5400.0
13,101010160235,10101016,2,126.560097,101,6750.0,0.000000,0.0,1500.0,0.0,0.0
14,101010160254,10101016,2,126.560097,101,2250.0,3465.000000,0.0,800.0,0.0,0.0
15,101010160265,10101016,2,126.560097,101,0.0,0.000000,26000.0,0.0,0.0,0.0
16,101012040003,10101204,2,151.305405,101,50400.0,0.000000,0.0,0.0,0.0,0.0
17,101012040007,10101204,2,151.305405,101,0.0,0.000000,1850.0,5950.0,0.0,0.0
18,101012040011,10101204,2,151.305405,101,32000.0,0.000000,0.0,0.0,0.0,0.0
19,101012040020,10101204,2,151.305405,101,2100.0,0.000000,0.0,700.0,0.0,0.0
20,101012040024,10101204,2,151.305405,101,0.0,0.000000,0.0,1200.0,0.0,0.0
21,101012040028,10101204,2,151.305405,101,5000.0,36666.666667,0.0,0.0,0.0,5500.0
22,101012040037,10101204,2,151.305405,101,0.0,0.000000,1600.0,0.0,0.0,0.0
23,101012040041,10101204,2,151.305405,101,7680.0,0.000000,0.0,0.0,0.0,0.0
24,101012040045,10101204,2,151.305405,101,15840.0,0.000000,0.0,0.0,0.0,0.0
25,101012040054,10101204,2,151.305405,101,0.0,0.000000,0.0,0.0,0.0,0.0
26,101012040058,10101204,2,151.305405,101,6000.0,9355.555556,0.0,0.0,0.0,0.0
27,101012040062,10101204,2,151.305405,101,0.0,0.000000,0.0,0.0,0.0,0.0
28,101012040071,10101204,2,151.305405,101,276000.0,0.000000,0.0,0.0,0.0,0.0
29,101012040075,10101204,2,151.305405,101,80000.0,0.000000,0.0,0.0,0.0,0.0
30,101012040079,10101204,2,151.305405,101,9000.0,27000.000000,0.0,0.0,0.0,0.0
31,101012040087,10101204,2,151.305405,101,0.0,0.000000,0.0,33000.0,0.0,0.0
32,101012150001,10101215,2,130.705994,101,0.0,0.000000,3000.0,18000.0,0.0,0.0
33,101012150004,10101215,2,130.705994,101,16560.0,0.000000,0.0,0.0,0.0,0.0
34,101012150021,10101215,2,130.705994,101,29350.0,4150.000000,0.0,0.0,0.0,0.0
35,101012150022,10101215,2,130.705994,101,900.0,0.000000,12000.0,5000.0,0.0,0.0
36,101012150026,10101215,2,130.705994,101,0.0,20000.000000,0.0,0.0,0.0,0.0
37,101012150028,10101215,2,130.705994,101,0.0,0.000000,6000.0,0.0,0.0,0.0
38,101012150034,10101215,2,130.705994,101,0.0,0.000000,0.0,25000.0,0.0,0.0
39,101012150038,10101215,2,130.705994,101,800.0,140.000000,0.0,0.0,0.0,0.0
40,101012150040,10101215,2,130.705994,101,12600.0,0.000000,0.0,2250.0,0.0,0.0
41,101012150045,10101215,2,130.705994,101,9600.0,1333.333333,0.0,0.0,0.0,0.0
42,101012150048,10101215,2,130.705994,101,0.0,37056.053812,0.0,1600.0,0.0,0.0
43,101012150049,10101215,2,130.705994,101,0.0,51700.000000,0.0,300.0,0.0,0.0
44,101012150053,10101215,2,130.705994,101,0.0,0.000000,8000.0,0.0,0.0,0.0
45,101012150059,10101215,2,130.705994,101,12600.0,0.000000,0.0,0.0,0.0,0.0
46,101012150060,10101215,2,130.705994,101,0.0,0.000000,0.0,6600.0,0.0,0.0
47,101012150074,10101215,2,130.705994,101,32400.0,0.000000,0.0,0.0,0.0,0.0
48,101012190012,10101219,2,134.102707,101,288000.0,0.000000,0.0,0.0,0.0,0.0
49,101012190018,10101219,2,134.102707,101,0.0,0.000000,0.0,0.0,0.0,0.0

In [168]:
general_info.index=general_info['case_id']

In [169]:
general_info

,case_id,ea_id,isurban,weight,region,income_labour,income_enterprise,inc-sp_child,inc-sp_other,income_other,inc-sp_ssn
case_id,,,,,,,,,,,
101010160009,101010160009,10101016,2,126.560097,101,2400.0,12807.692308,0.0,1500.0,0.0,0.0
101010160033,101010160033,10101016,2,126.560097,101,0.0,0.000000,2000.0,18000.0,0.0,0.0
101010160060,101010160060,10101016,2,126.560097,101,84480.0,1200.000000,20000.0,6000.0,0.0,0.0
101010160068,101010160068,10101016,2,126.560097,101,16080.0,0.000000,0.0,0.0,0.0,0.0
101010160069,101010160069,10101016,2,126.560097,101,2100.0,0.000000,0.0,250.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
315556140342,315556140342,31555614,1,456.450592,315,90000.0,0.000000,0.0,1500.0,0.0,0.0
315556140365,315556140365,31555614,1,456.450592,315,85680.0,0.000000,0.0,0.0,0.0,0.0
315556140388,315556140388,31555614,1,456.450592,315,72000.0,0.000000,0.0,0.0,0.0,0.0
315556140411,315556140411,31555614,1,456.450592,315,91000.0,0.000000,0.0,0.0,0.0,0.0
315556140434,315556140434,31555614,1,456.450592,315,121800.0,21642.857143,0.0,2000.0,0.0,0.0

In [170]:
general_info.to_csv('/home/insauer/projects/WB_model/Data_Malawi/general_info.csv')

# Income from agricultural activities

### Rainy season

Rainy season:

income:

ag_b08 --> value of all cropsales (In module b there are only around 5000 hhs so we use module i --> difference not clear)

ag_d17a --> income from plot rent

ag_d17b --> income from plot rent

ag_d19a --> income from plot rent

ag_d19b --> income from plot rent

ag_d19c --> income from plot rent

ag_d19d --> income from plot rent

ag_i03 --> value of all cropsales

expenses:

ag_b10 --> sales transport costs (In module b there are only around 5000 hhs so we use module i --> difference not clear)

ag_d09a --> payment for plot (in kind)

ag_d09b --> payment for plot (cash)

ag_d11a --> payment for plot

ag_d11b --> payment for plot

ag_d11c --> payment for plot

ag_d11d --> payment for plot

ag_d46a	--> hired men days

ag_d46b	--> hired men wage

ag_d46c	--> hired women days

ag_d46d	--> hired women wage

ag_d46e	--> hired child days

ag_d46f --> hired child wage

ag_f09 --> transport input

ag_f10 --> value input

ag_h09 --> transport seeds

ag_h10 --> value seeds

ag_h40 --> value seeds transport

ag_i10 --> sales transport costs

In [172]:
agb_data = pd.read_csv('/home/insauer/projects/WB_model/Data_Malawi/MWI_2010_IHS-III_v01_M_CSV/Full_Sample/Agriculture/ag_mod_b.csv')
agb_data

,case_id,visit,ea_id,ag_b0a,ag_b0c,ag_b0c_os,ag_b01a,ag_b01b,ag_b02,ag_b03a,...,ag_b27b_os,ag_b27c,ag_b28a,ag_b28b,ag_b28b_os,ag_b28c,ag_b29a,ag_b29b,ag_b29b_os,ag_b29c
0,101012150001,1,10101215,1.0,1.0,NaN,1.00,1.0,2.0,NaN,...,NaN,NaN,1.0,2.0,NaN,1.0,0.0,NaN,NaN,NaN
1,101012150001,1,10101215,1.0,11.0,NaN,0.25,1.0,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,101012150001,1,10101215,1.0,38.0,NaN,0.25,1.0,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,101012150004,1,10101215,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,101012150021,1,10101215,1.0,1.0,NaN,1.00,1.0,2.0,NaN,...,NaN,NaN,8.0,5.0,NaN,1.0,4.0,5.0,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5404,315546130283,1,31554613,1.0,34.0,NaN,0.50,1.0,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5405,315556140113,1,31555614,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5406,315556140136,1,31555614,1.0,1.0,NaN,0.60,1.0,2.0,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5407,315556140159,1,31555614,1.0,3.0,NaN,1.00,1.0,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5408,315556140297,1,31555614,1.0,3.0,NaN,0.80,1.0,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Check if all hh in the ag survey are also in the hh-survey

In [173]:
ag_cases = list(set(agb_data['case_id']))

In [174]:
len(ag_cases)

2666

In [175]:
sn_cases = list(sn_data_fin.index)

In [176]:
len(sn_cases)

12271

In [177]:
for i in ag_cases:
    test = i in sn_cases
    print(test)

True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True

...seems to be the case

We know collect the input costs for farming first and then the output and earnings

input modules:

In [178]:
module_b = pd.read_csv('/home/insauer/projects/WB_model/Data_Malawi/MWI_2010_IHS-III_v01_M_CSV/Full_Sample/Agriculture/ag_mod_b.csv')
module_b = module_b[['case_id', 'ag_b04a', 'ag_b04b', 'ag_b07a', 'ag_b07b', 'ag_b07c', 'ag_b08', 'ag_b10',
                     'ag_b16a', 'ag_b16b', 'ag_b16c', 'ag_b16d']]
#module_b.iloc[:,15:25]
#module_b['ag_b08'].dropna()
#module_b[['case_id','ag_b08']]#.dropna()
module_b

,case_id,ag_b04a,ag_b04b,ag_b07a,ag_b07b,ag_b07c,ag_b08,ag_b10,ag_b16a,ag_b16b,ag_b16c,ag_b16d
0,101012150001,8.0,2.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
1,101012150001,1.0,2.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
2,101012150001,6.0,5.0,4.0,5.0,1.0,1800.0,0.0,0.0,NaN,NaN,NaN
3,101012150004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,101012150021,4.0,3.0,3.0,5.0,1.0,1800.0,0.0,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
5404,315546130283,25.0,1.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
5405,315556140113,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5406,315556140136,7.0,2.0,NaN,NaN,NaN,NaN,NaN,2.0,2.0,1.0,14.0
5407,315556140159,16.0,2.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
5408,315556140297,8.0,2.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN

In [179]:
agr_summary = module_b[['case_id', 'ag_b08', 'ag_b10']]

In [180]:
agr_summary = agr_summary.rename(columns={'ag_b08': 'income_sell_rainy', 'ag_b10': 'exp_transp_rainy' })

In [181]:
agr_summary[~np.isnan(agr_summary['income_sell_rainy'])]

           case_id  income_sell_rainy  exp_transp_rainy
2     101012150001             1800.0               0.0
4     101012150021             1800.0               0.0
5     101012150021              400.0               0.0
7     101012150022             2100.0               0.0
8     101012150022             9400.0               0.0
...            ...                ...               ...
5359  314431080099            20000.0               0.0
5364  314431080159             3000.0               0.0
5366  314431080165             2000.0               0.0
5370  314432700023             2400.0               0.0
5374  314432700097            10000.0               0.0

[1769 rows x 3 columns]

In [182]:
agr_summary.index=agr_summary['case_id']

In [183]:
agr_summary= agr_summary.iloc[:,1:]

In [184]:
agr_summary.head(50)

              income_sell_rainy  exp_transp_rainy
case_id
101012150001                NaN               NaN
101012150001                NaN               NaN
101012150001             1800.0               0.0
101012150004                NaN               NaN
101012150021             1800.0               0.0
101012150021              400.0               0.0
101012150022                NaN               NaN
101012150022             2100.0               0.0
101012150022             9400.0               0.0
101012150026                NaN               NaN
101012150026            70000.0               0.0
101012150028             3000.0               0.0
101012150028              700.0               0.0
101012150034            20000.0            1500.0
101012150034                NaN               NaN
101012150038                NaN               NaN
101012150038                NaN               NaN
101012150038                NaN               NaN
101012150038                NaN               NaN
101012150040                NaN               NaN
101012150040              300.0               0.0
101012150045                NaN               NaN
101012150048            70000.0             800.0
101012150049             3200.0               0.0
101012150049            12000.0               0.0
101012150049            43000.0            2300.0
101012150053             1800.0               0.0
101012150053                NaN               NaN
101012150053              300.0               0.0
101012150053                NaN               NaN
101012150053                NaN               NaN
101012150059             1800.0               0.0
101012150059             2500.0               0.0
101012150059                NaN               NaN
101012150060            14000.0               0.0
101012150074                NaN               NaN
101012150074                NaN               NaN
101012150074                NaN               NaN
101012150074                NaN               NaN
101015620009            20000.0             800.0
101015620009                NaN               NaN
101015620009                NaN               NaN
101015620009             6000.0             200.0
101015620020            16000.0               0.0
101015620020            40000.0               0.0
101015620020                NaN               NaN
101015620031                NaN               NaN
101015620031                NaN               NaN
101015620042                NaN               NaN
101015620042            30000.0               0.0

In [185]:
agr_summary = agr_summary.groupby(['case_id']).sum()

In [186]:
agr_summary

              income_sell_rainy  exp_transp_rainy
case_id
101010160009            28500.0            1800.0
101010160033                0.0               0.0
101010160060            16000.0               0.0
101010160068            27400.0            1300.0
101010160069             7350.0             600.0
...                         ...               ...
315546130283                0.0               0.0
315556140113                0.0               0.0
315556140136                0.0               0.0
315556140159                0.0               0.0
315556140297                0.0               0.0

[2666 rows x 2 columns]

In [187]:
module_d = pd.read_csv('/home/insauer/projects/WB_model/Data_Malawi/MWI_2010_IHS-III_v01_M_CSV/Full_Sample/Agriculture/ag_mod_d.csv')
module_d = module_d[['case_id','ag_d09a', 'ag_d09b', 'ag_d11a', 'ag_d11b', 'ag_d11c', 'ag_d11d', 'ag_d17a',
          'ag_d17b', 'ag_d19a', 'ag_d19b', 'ag_d19c', 'ag_d19d', 'ag_d46a', 'ag_d46b', 'ag_d46c','ag_d46d', 'ag_d46e', 'ag_d46f'
         ]]

module_d['hired_paym'] = module_d['ag_d46a'].replace(np.nan,0)*module_d['ag_d46b'].replace(np.nan,0) +\
                           module_d['ag_d46c'].replace(np.nan,0)*module_d['ag_d46d'].replace(np.nan,0) +\
                           module_d['ag_d46e'].replace(np.nan,0)*module_d['ag_d46f'].replace(np.nan,0)
#module_b.iloc[:,15:25]
module_d['hired_paym']

/home/insauer/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (23,30,34,62,64,68,72,76,78,85,90,93,96,103,108,113,211) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
19260    0.0
19261    0.0
19262    0.0
19263    0.0
19264    0.0
Name: hired_paym, Length: 19265, dtype: float64

In [188]:
mod_d = module_d.groupby(['case_id']).sum()
mod_d

,ag_d09a,ag_d09b,ag_d11a,ag_d11b,ag_d11c,ag_d11d,ag_d17a,ag_d17b,ag_d19a,ag_d19b,ag_d19c,ag_d19d,ag_d46a,ag_d46b,ag_d46c,ag_d46d,ag_d46e,ag_d46f,hired_paym
case_id,,,,,,,,,,,,,,,,,,,
101010160009,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101010160033,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101010160060,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101010160068,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101010160069,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
315546130283,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
315556140113,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
315556140136,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
315556140159,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
315556140297,0.0,0.0,600.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [189]:
inc_df = mod_d[[ 'ag_d17a', 'ag_d17b', 'ag_d19a', 'ag_d19b', 'ag_d19c', 'ag_d19d']]
inc_df

              ag_d17a  ag_d17b  ag_d19a  ag_d19b  ag_d19c  ag_d19d
case_id
101010160009      0.0      0.0      0.0      0.0      0.0      0.0
101010160033      0.0      0.0      0.0      0.0      0.0      0.0
101010160060      0.0      0.0      0.0      0.0      0.0      0.0
101010160068      0.0      0.0      0.0      0.0      0.0      0.0
101010160069      0.0      0.0      0.0      0.0      0.0      0.0
...               ...      ...      ...      ...      ...      ...
315546130283      0.0      0.0      0.0      0.0      0.0      0.0
315556140113      0.0      0.0      0.0      0.0      0.0      0.0
315556140136      0.0      0.0      0.0      0.0      0.0      0.0
315556140159      0.0      0.0      0.0      0.0      0.0      0.0
315556140297      0.0      0.0      0.0      0.0      0.0      0.0

[10401 rows x 6 columns]

In [190]:
inc_df['income_pltrent'] = inc_df.sum(axis=1)

/home/insauer/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [191]:
inc_df

,ag_d17a,ag_d17b,ag_d19a,ag_d19b,ag_d19c,ag_d19d,income_pltrent
case_id,,,,,,,
101010160009,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101010160033,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101010160060,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101010160068,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101010160069,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...
315546130283,0.0,0.0,0.0,0.0,0.0,0.0,0.0
315556140113,0.0,0.0,0.0,0.0,0.0,0.0,0.0
315556140136,0.0,0.0,0.0,0.0,0.0,0.0,0.0
315556140159,0.0,0.0,0.0,0.0,0.0,0.0,0.0
315556140297,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [192]:
exp_df= mod_d[[ 'ag_d09a', 'ag_d09b', 'ag_d11a', 'ag_d11b', 'ag_d11c', 'ag_d11d', 'hired_paym']]

In [193]:
exp_df['exp_pltrent_hiredwrk'] = exp_df.sum(axis=1)

/home/insauer/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [194]:
exp_df

,ag_d09a,ag_d09b,ag_d11a,ag_d11b,ag_d11c,ag_d11d,hired_paym,exp_pltrent_hiredwrk
case_id,,,,,,,,
101010160009,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101010160033,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101010160060,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101010160068,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101010160069,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
315546130283,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
315556140113,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
315556140136,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
315556140159,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
315556140297,0.0,0.0,600.0,0.0,0.0,0.0,0.0,600.0

In [195]:
agr_summary

              income_sell_rainy  exp_transp_rainy
case_id
101010160009            28500.0            1800.0
101010160033                0.0               0.0
101010160060            16000.0               0.0
101010160068            27400.0            1300.0
101010160069             7350.0             600.0
...                         ...               ...
315546130283                0.0               0.0
315556140113                0.0               0.0
315556140136                0.0               0.0
315556140159                0.0               0.0
315556140297                0.0               0.0

[2666 rows x 2 columns]

In [196]:
agr_info = inc_df[['income_pltrent']]
agr_info['exp_pltrent_hiredwrk']=exp_df['exp_pltrent_hiredwrk']
agr_info

/home/insauer/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

              income_pltrent  exp_pltrent_hiredwrk
case_id
101010160009             0.0                   0.0
101010160033             0.0                   0.0
101010160060             0.0                   0.0
101010160068             0.0                   0.0
101010160069             0.0                   0.0
...                      ...                   ...
315546130283             0.0                   0.0
315556140113             0.0                   0.0
315556140136             0.0                   0.0
315556140159             0.0                   0.0
315556140297             0.0                 600.0

[10401 rows x 2 columns]

In [197]:
agr_info['income_sell_rainy']=agr_summary['income_sell_rainy']

/home/insauer/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [198]:
agr_info['income_sell_rainy']=agr_summary['income_sell_rainy']
agr_info['exp_transp_rainy']=agr_summary['exp_transp_rainy']

/home/insauer/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/home/insauer/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [199]:
agr_info=agr_info.rename(columns={'income_pltrent':'income_pltrent_rainy',
                                  'exp_pltrent_hiredwrk': 'exp_pltrent_hiredwrk_rainy'})

In [200]:
agr_info

,income_pltrent_rainy,exp_pltrent_hiredwrk_rainy,income_sell_rainy,exp_transp_rainy
case_id,,,,
101010160009,0.0,0.0,28500.0,1800.0
101010160033,0.0,0.0,0.0,0.0
101010160060,0.0,0.0,16000.0,0.0
101010160068,0.0,0.0,27400.0,1300.0
101010160069,0.0,0.0,7350.0,600.0
...,...,...,...,...
315546130283,0.0,0.0,0.0,0.0
315556140113,0.0,0.0,0.0,0.0
315556140136,0.0,0.0,0.0,0.0
315556140159,0.0,0.0,0.0,0.0
315556140297,0.0,600.0,0.0,0.0

In [201]:
# input 
module_f = pd.read_csv('/home/insauer/projects/WB_model/Data_Malawi/MWI_2010_IHS-III_v01_M_CSV/Full_Sample/Agriculture/ag_mod_f.csv')
module_f = module_f[['case_id', 'ag_f09', 'ag_f10' ]]

/home/insauer/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (5,8,14,17,25,30,51,53,60,62,71) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [202]:
mod_f = module_f.groupby(['case_id']).sum()
mod_f

              ag_f09  ag_f10
case_id
101010160009     0.0     0.0
101010160033     0.0     0.0
101010160060     0.0     0.0
101010160068     0.0     0.0
101010160069     0.0     0.0
...              ...     ...
315546130283     0.0     0.0
315556140113     0.0     0.0
315556140136     0.0     0.0
315556140159     0.0     0.0
315556140297     0.0     0.0

[10401 rows x 2 columns]

In [203]:
agr_info['exp_transp_inp_rainy']=mod_f['ag_f09']
agr_info['exp_inp_rainy']=mod_f['ag_f10']

In [205]:
agr_info

,income_pltrent_rainy,exp_pltrent_hiredwrk_rainy,income_sell_rainy,exp_transp_rainy,exp_transp_inp_rainy,exp_inp_rainy
case_id,,,,,,
101010160009,0.0,0.0,28500.0,1800.0,0.0,0.0
101010160033,0.0,0.0,0.0,0.0,0.0,0.0
101010160060,0.0,0.0,16000.0,0.0,0.0,0.0
101010160068,0.0,0.0,27400.0,1300.0,0.0,0.0
101010160069,0.0,0.0,7350.0,600.0,0.0,0.0
...,...,...,...,...,...,...
315546130283,0.0,0.0,0.0,0.0,0.0,0.0
315556140113,0.0,0.0,0.0,0.0,0.0,0.0
315556140136,0.0,0.0,0.0,0.0,0.0,0.0
315556140159,0.0,0.0,0.0,0.0,0.0,0.0
315556140297,0.0,600.0,0.0,0.0,0.0,0.0

In [297]:
# input 
module_g = pd.read_csv('/home/insauer/projects/WB_model/Data_Malawi/MWI_2010_IHS-III_v01_M_CSV/Full_Sample/Agriculture/ag_mod_g.csv')
module_g = module_g[['case_id','ag_g0a', 'ag_g0b', 'ag_g0d', 'ag_g08a', 'ag_g08b', 'ag_g08b_os', 'ag_g09a',
                     'ag_g09b', 'ag_g09b_os']]

/home/insauer/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (19) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

We convert units roughly to liters

KILOGRAM........1

50 KG BAG.......2

90 KG BAG.......3

PAIL (SMALL)....4

PAIL (LARGE)....5

NO. 10 PLATE....6

NO. 12 PLATE....7

BUNCH...........8

PIECE...........9

BALE...........10

BASKET (DENGU).11

OX-CART........12

In [298]:
def convert_unit(x):
    unit_conv= {1.0: 1,
               2.0:50,
               3.0:90,
               4.0:8,
               5.0:20,
               6.0:1,
               7.0:1.5,
               8.0:1,
               9.0:1,
               10.0:100,
               11.0:40,
               12.0:1000,
               0.0: 0.0,
               13.0: 0.0
               }
    return pd.Series(unit_conv[x],
                     index=['unit_8'])

In [299]:
module_g

,case_id,ag_g0a,ag_g0b,ag_g0d,ag_g08a,ag_g08b,ag_g08b_os,ag_g09a,ag_g09b,ag_g09b_os
0,101012150001,1.0,R1,1.0,4.0,2.0,NaN,0.0,NaN,NaN
1,101012150001,1.0,R2,1.0,3.0,5.0,NaN,4.0,5.0,NaN
2,101012150001,1.0,R2,11.0,2.0,5.0,NaN,1.0,5.0,NaN
3,101012150001,1.0,R3,3.0,1.0,2.0,NaN,0.0,NaN,NaN
4,101012150001,1.0,R2,38.0,2.0,2.0,NaN,1.0,2.0,NaN
...,...,...,...,...,...,...,...,...,...,...
28138,315556140113,NaN,R1,1.0,NaN,NaN,NaN,NaN,NaN,NaN
28139,315556140113,NaN,R1,11.0,NaN,NaN,NaN,NaN,NaN,NaN
28140,315556140136,NaN,R1,1.0,NaN,NaN,NaN,NaN,NaN,NaN
28141,315556140159,NaN,R1,3.0,NaN,NaN,NaN,NaN,NaN,NaN
28142,315556140297,NaN,R1,3.0,NaN,NaN,NaN,NaN,NaN,NaN

In [300]:
module_g['unit_8']=module_g['ag_g08b'].replace(np.nan,0.0).apply((convert_unit))

In [301]:
module_g.loc[(module_g['ag_g09b']==13.0)]

,case_id,ag_g0a,ag_g0b,ag_g0d,ag_g08a,ag_g08b,ag_g08b_os,ag_g09a,ag_g09b,ag_g09b_os,unit_8
728,101041500012,1.0,R1,1.0,NaN,NaN,NaN,1.0,13.0,ONE GRANARY NKHOKWE,0.0
737,101041500048,1.0,R1,1.0,NaN,NaN,NaN,2.0,13.0,FOR GRANARIES,0.0
751,101041500067,1.0,R1,1.0,NaN,NaN,NaN,1.0,13.0,ONE GRANARY NKHOKWE,0.0
754,101041500079,1.0,R1,1.0,NaN,NaN,NaN,1.0,13.0,ONE GRANARY NKHOKWE,0.0
7394,204073980199,1.0,R1,4.0,NaN,NaN,NaN,4.0,13.0,3 BASKETS,0.0
8246,206016260092,1.0,R4,27.0,NaN,NaN,NaN,9.0,13.0,TON,0.0
8250,206016260104,1.0,R1,3.0,NaN,NaN,NaN,2.0,13.0,TON,0.0
8251,206016260116,1.0,R1,3.0,NaN,NaN,NaN,2.0,13.0,TON,0.0
8252,206016260116,1.0,R3,35.0,NaN,NaN,NaN,5.0,13.0,TON,0.0
8253,206016260116,1.0,R2,11.0,NaN,NaN,NaN,2.0,13.0,TON,0.0
8534,206035330008,1.0,R1,3.0,NaN,NaN,NaN,3.0,13.0,TON,0.0
8561,206046380099,1.0,R2,11.0,NaN,NaN,NaN,3.0,13.0,TON,0.0
9100,206150640222,1.0,R1,1.0,10.0,11.0,NaN,13.0,13.0,NOT YET HARVESTED,40.0
9542,207047380041,1.0,R2,5.0,1.0,12.0,NaN,20.0,13.0,PIECES,1000.0
9545,207047380065,1.0,R3,12.0,5.0,2.0,NaN,1.0,13.0,DENGU,50.0
25389,312015160262,1.0,R1,3.0,NaN,NaN,NaN,2.0,13.0,LICHELO,0.0

In [302]:
module_g.loc[(module_g['ag_g08b']==13.0) & (module_g['ag_g08b_os']=='TON'), 'unit_8']=1000
module_g.loc[(module_g['ag_g08b']==13.0) & (module_g['ag_g08b_os']=='BASIN'), 'unit_8']=30
module_g.loc[(module_g['ag_g08b']==13.0) & (module_g['ag_g08b_os']=='EXPECT TO HARVEST ONE NDOWA'), 'unit_8']=100

In [303]:
module_g['unit_9']=module_g['ag_g09b'].replace(np.nan,0.0).apply((convert_unit))

In [304]:
module_g

,case_id,ag_g0a,ag_g0b,ag_g0d,ag_g08a,ag_g08b,ag_g08b_os,ag_g09a,ag_g09b,ag_g09b_os,unit_8,unit_9
0,101012150001,1.0,R1,1.0,4.0,2.0,NaN,0.0,NaN,NaN,50.0,0.0
1,101012150001,1.0,R2,1.0,3.0,5.0,NaN,4.0,5.0,NaN,20.0,20.0
2,101012150001,1.0,R2,11.0,2.0,5.0,NaN,1.0,5.0,NaN,20.0,20.0
3,101012150001,1.0,R3,3.0,1.0,2.0,NaN,0.0,NaN,NaN,50.0,0.0
4,101012150001,1.0,R2,38.0,2.0,2.0,NaN,1.0,2.0,NaN,50.0,50.0
...,...,...,...,...,...,...,...,...,...,...,...,...
28138,315556140113,NaN,R1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
28139,315556140113,NaN,R1,11.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
28140,315556140136,NaN,R1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
28141,315556140159,NaN,R1,3.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
28142,315556140297,NaN,R1,3.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0

In [305]:
module_g.loc[(module_g['ag_g09b']==13.0)&(module_g['ag_g09b_os']=='TON'),'unit_9']=1000
module_g.loc[(module_g['ag_g09b']==13.0)&(module_g['ag_g09b_os']=='ONE GRANARY NKHOKWE'),'unit_9']=3000
module_g.loc[(module_g['ag_g09b']==13.0)&(module_g['ag_g09b_os']=='FOR GRANARY'),'unit_9']=12000
module_g.loc[(module_g['ag_g09b']==13.0)&(module_g['ag_g09b_os']=='3 BASKETS'),'unit_9']=90
module_g.loc[(module_g['ag_g09b']==13.0)&(module_g['ag_g09b_os']=='NOT YET HARVESTED'),'unit_9']=40
module_g.loc[(module_g['ag_g09b']==13.0)&(module_g['ag_g09b_os']=='PIECES'),'unit_9']=20
module_g.loc[(module_g['ag_g09b']==13.0)&(module_g['ag_g09b_os']=='DENGU'),'unit_9']=40
module_g.loc[(module_g['ag_g09b']==13.0)&(module_g['ag_g09b_os']=='LICHELO'),'unit_9']=5

In [306]:
module_g.loc[(module_g['ag_g09b']==13.0)]

,case_id,ag_g0a,ag_g0b,ag_g0d,ag_g08a,ag_g08b,ag_g08b_os,ag_g09a,ag_g09b,ag_g09b_os,unit_8,unit_9
728,101041500012,1.0,R1,1.0,NaN,NaN,NaN,1.0,13.0,ONE GRANARY NKHOKWE,0.0,3000.0
737,101041500048,1.0,R1,1.0,NaN,NaN,NaN,2.0,13.0,FOR GRANARIES,0.0,0.0
751,101041500067,1.0,R1,1.0,NaN,NaN,NaN,1.0,13.0,ONE GRANARY NKHOKWE,0.0,3000.0
754,101041500079,1.0,R1,1.0,NaN,NaN,NaN,1.0,13.0,ONE GRANARY NKHOKWE,0.0,3000.0
7394,204073980199,1.0,R1,4.0,NaN,NaN,NaN,4.0,13.0,3 BASKETS,0.0,90.0
8246,206016260092,1.0,R4,27.0,NaN,NaN,NaN,9.0,13.0,TON,0.0,1000.0
8250,206016260104,1.0,R1,3.0,NaN,NaN,NaN,2.0,13.0,TON,0.0,1000.0
8251,206016260116,1.0,R1,3.0,NaN,NaN,NaN,2.0,13.0,TON,0.0,1000.0
8252,206016260116,1.0,R3,35.0,NaN,NaN,NaN,5.0,13.0,TON,0.0,1000.0
8253,206016260116,1.0,R2,11.0,NaN,NaN,NaN,2.0,13.0,TON,0.0,1000.0
8534,206035330008,1.0,R1,3.0,NaN,NaN,NaN,3.0,13.0,TON,0.0,1000.0
8561,206046380099,1.0,R2,11.0,NaN,NaN,NaN,3.0,13.0,TON,0.0,1000.0
9100,206150640222,1.0,R1,1.0,10.0,11.0,NaN,13.0,13.0,NOT YET HARVESTED,40.0,40.0
9542,207047380041,1.0,R2,5.0,1.0,12.0,NaN,20.0,13.0,PIECES,1000.0,20.0
9545,207047380065,1.0,R3,12.0,5.0,2.0,NaN,1.0,13.0,DENGU,50.0,40.0
25389,312015160262,1.0,R1,3.0,NaN,NaN,NaN,2.0,13.0,LICHELO,0.0,5.0

In [307]:
module_g['harvested']=module_g['ag_g08a'].replace(np.nan,0) * module_g['unit_8'] + module_g['ag_g09a'].replace(np.nan,0) * module_g['unit_9']

In [308]:
module_g

,case_id,ag_g0a,ag_g0b,ag_g0d,ag_g08a,ag_g08b,ag_g08b_os,ag_g09a,ag_g09b,ag_g09b_os,unit_8,unit_9,harvested
0,101012150001,1.0,R1,1.0,4.0,2.0,NaN,0.0,NaN,NaN,50.0,0.0,200.0
1,101012150001,1.0,R2,1.0,3.0,5.0,NaN,4.0,5.0,NaN,20.0,20.0,140.0
2,101012150001,1.0,R2,11.0,2.0,5.0,NaN,1.0,5.0,NaN,20.0,20.0,60.0
3,101012150001,1.0,R3,3.0,1.0,2.0,NaN,0.0,NaN,NaN,50.0,0.0,50.0
4,101012150001,1.0,R2,38.0,2.0,2.0,NaN,1.0,2.0,NaN,50.0,50.0,150.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
28138,315556140113,NaN,R1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
28139,315556140113,NaN,R1,11.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
28140,315556140136,NaN,R1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
28141,315556140159,NaN,R1,3.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
28142,315556140297,NaN,R1,3.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0

In [328]:
def aggregate_harvest(x):
    harv_sum= x['harvested'].sum()
    crop_type=x['ag_g0d'].iloc[0]
    return pd.Series([crop_type,harv_sum],
                     index=['crop','harvest'])

In [329]:
harvest_rainy=module_g.groupby(['case_id','ag_g0d'])[['ag_g0d','harvested']].apply(aggregate_harvest).reset_index()

In [336]:
harvest_rainy=harvest_rainy.drop(columns=['ag_g0d'])

In [360]:
harvest_rainy#.loc[harvest_rainy['case_id']==101012150001]

            case_id  crop  harvest
0      101010160009   2.0    300.0
1      101010160009   5.0    200.0
2      101010160009  12.0    100.0
3      101010160033   1.0    270.0
4      101010160060   3.0    180.0
...             ...   ...      ...
23548  315556140113   1.0      0.0
23549  315556140113  11.0      0.0
23550  315556140136   1.0      0.0
23551  315556140159   3.0      0.0
23552  315556140297   3.0      0.0

[23553 rows x 3 columns]

In [87]:
#check = mod_d.index == mod_i.index
#check[check==False]

array([], dtype=bool)

In [206]:
module_h = pd.read_csv('/home/insauer/projects/WB_model/Data_Malawi/MWI_2010_IHS-III_v01_M_CSV/Full_Sample/Agriculture/ag_mod_h.csv')
module_h = module_h[['case_id', 'ag_h09', 'ag_h10', 'ag_h40']]

/home/insauer/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (16,28,38,51) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [207]:
mod_h = module_h.groupby(['case_id']).sum()
mod_h

              ag_h09  ag_h10  ag_h40
case_id
101010160009     0.0     0.0     0.0
101010160033     0.0     0.0     0.0
101010160060     0.0     0.0     0.0
101010160068     0.0     0.0     0.0
101010160069     0.0     0.0     0.0
...              ...     ...     ...
315546130283     0.0     0.0     0.0
315556140113     0.0     0.0     0.0
315556140136     0.0     0.0     0.0
315556140159     0.0     0.0     0.0
315556140297     0.0     0.0     0.0

[10401 rows x 3 columns]

In [208]:
agr_info['exp_transp_seed_rainy']=mod_h['ag_h09'] + mod_h['ag_h40'] 
agr_info['exp_seed_rainy']=mod_h['ag_h10']

In [209]:
agr_info

,income_pltrent_rainy,exp_pltrent_hiredwrk_rainy,income_sell_rainy,exp_transp_rainy,exp_transp_inp_rainy,exp_inp_rainy,exp_transp_seed_rainy,exp_seed_rainy
case_id,,,,,,,,
101010160009,0.0,0.0,28500.0,1800.0,0.0,0.0,0.0,0.0
101010160033,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101010160060,0.0,0.0,16000.0,0.0,0.0,0.0,0.0,0.0
101010160068,0.0,0.0,27400.0,1300.0,0.0,0.0,0.0,0.0
101010160069,0.0,0.0,7350.0,600.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
315546130283,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
315556140113,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
315556140136,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
315556140159,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
315556140297,0.0,600.0,0.0,0.0,0.0,0.0,0.0,0.0

In [340]:
module_i = pd.read_csv('/home/insauer/projects/WB_model/Data_Malawi/MWI_2010_IHS-III_v01_M_CSV/Full_Sample/Agriculture/ag_mod_i.csv')
#module_i[['case_id', 'ag_i03', 'ag_i10']]
module_i = module_i[['case_id', 'ag_i0b', 'ag_i0b_os', 'ag_i01', 'ag_i02a', 'ag_i02b', 'ag_i02b_os', 'ag_i02c', 'ag_i03', 'ag_i10']]#.dropna()

In [361]:
module_i

,case_id,ag_i0b,ag_i0b_os,ag_i01,ag_i02a,ag_i02b,ag_i02b_os,ag_i02c,ag_i03,ag_i10
0,101012150001,1.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN
1,101012150001,3.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN
2,101012150001,11.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN
3,101012150001,38.0,NaN,1.0,5.0,5.0,NaN,1.0,1500.0,NaN
4,101012150004,1.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
24076,315556140113,1.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN
24077,315556140113,11.0,NaN,1.0,10.0,1.0,NaN,2.0,700.0,NaN
24078,315556140136,1.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN
24079,315556140159,3.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN
24080,315556140297,3.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN

In [363]:
mod_i_cut=module_i.loc[module_i['case_id'].isin(harvest_rainy['case_id'])]

In [371]:
mod_i_cut.index = mod_i_cut['case_id']
mod_i_cut

,case_id,ag_i0b,ag_i0b_os,ag_i01,ag_i02a,ag_i02b,ag_i02b_os,ag_i02c,ag_i03,ag_i10
case_id,,,,,,,,,,
101012150001,101012150001,1.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN
101012150001,101012150001,3.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN
101012150001,101012150001,11.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN
101012150001,101012150001,38.0,NaN,1.0,5.0,5.0,NaN,1.0,1500.0,NaN
101012150004,101012150004,1.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
315556140113,315556140113,1.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN
315556140113,315556140113,11.0,NaN,1.0,10.0,1.0,NaN,2.0,700.0,NaN
315556140136,315556140136,1.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN
315556140159,315556140159,3.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN
315556140297,315556140297,3.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN

In [341]:
#mod_i = module_i.groupby(['case_id']).sum()
#mod_i

In [680]:
agr_info['income_sell_rainy_fin'] = mod_i['ag_i03']
agr_info['exp_transp_rainy_fin'] = mod_i['ag_i10']

In [681]:
agr_info

,income_pltrent_rainy,exp_pltrent_hiredwrk_rainy,income_sell_rainy,exp_transp_rainy,exp_transp_inp_rainy,exp_inp_rainy,exp_transp_seed_rainy,exp_seed_rainy,income_sell_rainy_fin,exp_transp_rainy_fin
case_id,,,,,,,,,,
101010160009,0.0,0.0,28500.0,1800.0,0.0,0.0,0.0,0.0,40000.0,0.0
101010160033,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,900.0,0.0
101010160060,0.0,0.0,16000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101010160068,0.0,0.0,27400.0,1300.0,0.0,0.0,0.0,0.0,62850.0,0.0
101010160069,0.0,0.0,7350.0,600.0,0.0,0.0,0.0,0.0,3300.0,0.0
...,...,...,...,...,...,...,...,...,...,...
315546130283,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
315556140113,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,700.0,0.0
315556140136,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
315556140159,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
315556140297,0.0,600.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [682]:
agr_info.loc[agr_info['income_sell_rainy']<agr_info['income_sell_rainy_fin'],'income_sales_rainy']= agr_info.loc[agr_info['income_sell_rainy']<agr_info['income_sell_rainy_fin'],'income_sell_rainy_fin']
agr_info.loc[agr_info['income_sell_rainy']>=agr_info['income_sell_rainy_fin'],'income_sales_rainy']= agr_info.loc[agr_info['income_sell_rainy']>=agr_info['income_sell_rainy_fin'],'income_sell_rainy']

agr_info.loc[agr_info['exp_transp_rainy']<agr_info['exp_transp_rainy_fin'],'exp_trnsp_rainy']= agr_info.loc[agr_info['exp_transp_rainy']<agr_info['exp_transp_rainy_fin'],'exp_transp_rainy_fin']
agr_info.loc[agr_info['exp_transp_rainy']>=agr_info['exp_transp_rainy_fin'],'exp_trnsp_rainy']= agr_info.loc[agr_info['exp_transp_rainy']>=agr_info['exp_transp_rainy_fin'],'exp_transp_rainy']

In [683]:
agr_info.drop(columns=['income_sell_rainy','income_sell_rainy_fin','exp_transp_rainy','exp_transp_rainy_fin'])

,income_pltrent_rainy,exp_pltrent_hiredwrk_rainy,exp_transp_inp_rainy,exp_inp_rainy,exp_transp_seed_rainy,exp_seed_rainy,income_sales_rainy,exp_trnsp_rainy
case_id,,,,,,,,
101010160009,0.0,0.0,0.0,0.0,0.0,0.0,40000.0,1800.0
101010160033,0.0,0.0,0.0,0.0,0.0,0.0,900.0,0.0
101010160060,0.0,0.0,0.0,0.0,0.0,0.0,16000.0,0.0
101010160068,0.0,0.0,0.0,0.0,0.0,0.0,62850.0,1300.0
101010160069,0.0,0.0,0.0,0.0,0.0,0.0,7350.0,600.0
...,...,...,...,...,...,...,...,...
315546130283,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
315556140113,0.0,0.0,0.0,0.0,0.0,0.0,700.0,0.0
315556140136,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
315556140159,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
315556140297,0.0,600.0,0.0,0.0,0.0,0.0,0.0,0.0

In [684]:
agr_info['income_rainy'] = agr_info[['income_pltrent_rainy', 'income_sales_rainy']].sum(axis=1)
agr_info['exp_rainy'] = agr_info[['exp_pltrent_hiredwrk_rainy', 'exp_transp_inp_rainy',
                                  'exp_inp_rainy', 'exp_transp_seed_rainy', 'exp_seed_rainy']].sum(axis=1)

In [685]:
agr_info = agr_info.drop(columns=['income_sell_rainy','income_sell_rainy_fin','exp_transp_rainy','exp_transp_rainy_fin'])

In [686]:
agr_info

,income_pltrent_rainy,exp_pltrent_hiredwrk_rainy,exp_transp_inp_rainy,exp_inp_rainy,exp_transp_seed_rainy,exp_seed_rainy,income_sales_rainy,exp_trnsp_rainy,income_rainy,exp_rainy
case_id,,,,,,,,,,
101010160009,0.0,0.0,0.0,0.0,0.0,0.0,40000.0,1800.0,40000.0,0.0
101010160033,0.0,0.0,0.0,0.0,0.0,0.0,900.0,0.0,900.0,0.0
101010160060,0.0,0.0,0.0,0.0,0.0,0.0,16000.0,0.0,16000.0,0.0
101010160068,0.0,0.0,0.0,0.0,0.0,0.0,62850.0,1300.0,62850.0,0.0
101010160069,0.0,0.0,0.0,0.0,0.0,0.0,7350.0,600.0,7350.0,0.0
...,...,...,...,...,...,...,...,...,...,...
315546130283,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
315556140113,0.0,0.0,0.0,0.0,0.0,0.0,700.0,0.0,700.0,0.0
315556140136,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
315556140159,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
315556140297,0.0,600.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,600.0

### Dimba season

Dimba season

income:

ag_k18a --> payment plot

ag_k18b --> payment plot

ag_k20a --> payment plot

ag_k20b --> payment plot

ag_k20c --> payment plot

ag_k20d --> payment plot

expenditure:

ag_k10a --> payment plot

ag_k10b --> payment plot

ag_k12a --> payment plot

ag_k12b --> payment plot

ag_k12c --> payment plot

ag_k12d --> payment plot

ag_k46a --> days hired men

ag_k46b --> payment hired men

ag_k46c --> days hired women

ag_k46d --> payment hired women

ag_k46e --> days hired children

ag_k46f --> payment hired women

In [687]:
module_k = pd.read_csv('/home/insauer/projects/WB_model/Data_Malawi/MWI_2010_IHS-III_v01_M_CSV/Full_Sample/Agriculture/ag_mod_k.csv')

module_k = module_k[['case_id','ag_k10a', 'ag_k10b', 'ag_k12a', 'ag_k12b', 'ag_k12c', 'ag_k12d',
                     'ag_k18a', 'ag_k18b', 'ag_k20a', 'ag_k20b', 'ag_k20c', 'ag_k20d',
                     'ag_k46a', 'ag_k46b', 'ag_k46c', 'ag_k46d', 'ag_k46e', 'ag_k46f']]

module_k

/home/insauer/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (8,33,35,54,56,60,68,72,80,89,96,99,106,114,119) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,case_id,ag_k10a,ag_k10b,ag_k12a,ag_k12b,ag_k12c,ag_k12d,ag_k18a,ag_k18b,ag_k20a,ag_k20b,ag_k20c,ag_k20d,ag_k46a,ag_k46b,ag_k46c,ag_k46d,ag_k46e,ag_k46f
0,101012150001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,101012150004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,101012150021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,101012150022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,101012150026,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13581,315546130283,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13582,315556140113,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13583,315556140136,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13584,315556140159,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13585,315556140297,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [688]:
module_k['hired_paym'] = module_k['ag_k46a'].replace(np.nan,0)*module_k['ag_k46b'].replace(np.nan,0) +\
                           module_k['ag_k46c'].replace(np.nan,0)*module_k['ag_k46d'].replace(np.nan,0) +\
                           module_k['ag_k46e'].replace(np.nan,0)*module_k['ag_k46f'].replace(np.nan,0)

In [689]:
module_k['exp_pltrent_hiredwrk_dimba']= module_k['ag_k10a'].replace(np.nan,0)+module_k['ag_k10b'].replace(np.nan,0)+\
                                        module_k['ag_k12a'].replace(np.nan,0)+module_k['ag_k12b'].replace(np.nan,0)+\
                                        module_k['ag_k12c'].replace(np.nan,0)+module_k['ag_k12d'].replace(np.nan,0)+\
                                        module_k['hired_paym'].replace(np.nan,0)
module_k['income_pltrent_dimba']= module_k['ag_k18a'].replace(np.nan,0)+module_k['ag_k18b'].replace(np.nan,0)+\
                                        module_k['ag_k20a'].replace(np.nan,0)+module_k['ag_k20b'].replace(np.nan,0)+\
                                        module_k['ag_k20c'].replace(np.nan,0)+module_k['ag_k20d'].replace(np.nan,0)

In [690]:
module_k

,case_id,ag_k10a,ag_k10b,ag_k12a,ag_k12b,ag_k12c,ag_k12d,ag_k18a,ag_k18b,ag_k20a,...,ag_k20d,ag_k46a,ag_k46b,ag_k46c,ag_k46d,ag_k46e,ag_k46f,hired_paym,exp_pltrent_hiredwrk_dimba,income_pltrent_dimba
0,101012150001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
1,101012150004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
2,101012150021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
3,101012150022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
4,101012150026,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13581,315546130283,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
13582,315556140113,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
13583,315556140136,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
13584,315556140159,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
13585,315556140297,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0

In [691]:
mod_k = module_k.groupby(['case_id']).sum()
mod_k

,ag_k10a,ag_k10b,ag_k12a,ag_k12b,ag_k12c,ag_k12d,ag_k18a,ag_k18b,ag_k20a,ag_k20b,...,ag_k20d,ag_k46a,ag_k46b,ag_k46c,ag_k46d,ag_k46e,ag_k46f,hired_paym,exp_pltrent_hiredwrk_dimba,income_pltrent_dimba
case_id,,,,,,,,,,,,,,,,,,,,,
101010160009,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101010160033,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101010160060,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101010160068,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101010160069,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
315546130283,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
315556140113,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
315556140136,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
315556140159,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
315556140297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [692]:
agr_info['exp_pltrent_hiredwrk_dimba']=mod_k['exp_pltrent_hiredwrk_dimba']
agr_info['income_pltrent_dimba']=mod_k['income_pltrent_dimba']

In [693]:
agr_info

,income_pltrent_rainy,exp_pltrent_hiredwrk_rainy,exp_transp_inp_rainy,exp_inp_rainy,exp_transp_seed_rainy,exp_seed_rainy,income_sales_rainy,exp_trnsp_rainy,income_rainy,exp_rainy,exp_pltrent_hiredwrk_dimba,income_pltrent_dimba
case_id,,,,,,,,,,,,
101010160009,0.0,0.0,0.0,0.0,0.0,0.0,40000.0,1800.0,40000.0,0.0,0.0,0.0
101010160033,0.0,0.0,0.0,0.0,0.0,0.0,900.0,0.0,900.0,0.0,0.0,0.0
101010160060,0.0,0.0,0.0,0.0,0.0,0.0,16000.0,0.0,16000.0,0.0,0.0,0.0
101010160068,0.0,0.0,0.0,0.0,0.0,0.0,62850.0,1300.0,62850.0,0.0,0.0,0.0
101010160069,0.0,0.0,0.0,0.0,0.0,0.0,7350.0,600.0,7350.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
315546130283,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
315556140113,0.0,0.0,0.0,0.0,0.0,0.0,700.0,0.0,700.0,0.0,0.0,0.0
315556140136,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
315556140159,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
315556140297,0.0,600.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,600.0,0.0,0.0

In [694]:
module_l = pd.read_csv('/home/insauer/projects/WB_model/Data_Malawi/MWI_2010_IHS-III_v01_M_CSV/Full_Sample/Agriculture/ag_mod_l.csv')
module_l = module_l[['case_id','ag_l09', 'ag_l10', 'ag_l40']]
module_l

/home/insauer/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (25,32,38,62) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

            case_id  ag_l09  ag_l10  ag_l40
0      101012150001     NaN     NaN     NaN
1      101012150004     NaN     NaN     NaN
2      101012150021     NaN     NaN     NaN
3      101012150022     NaN     NaN     NaN
4      101012150026     NaN     NaN     NaN
...             ...     ...     ...     ...
11378  315546130283     NaN     NaN     NaN
11379  315556140113     NaN     NaN     NaN
11380  315556140136     NaN     NaN     NaN
11381  315556140159     NaN     NaN     NaN
11382  315556140297     NaN     NaN     NaN

[11383 rows x 4 columns]

In [695]:
mod_l = module_l.groupby(['case_id']).sum()
mod_l

              ag_l09  ag_l10  ag_l40
case_id
101010160009     0.0     0.0     0.0
101010160033     0.0     0.0     0.0
101010160060     0.0     0.0     0.0
101010160068     0.0     0.0     0.0
101010160069     0.0     0.0     0.0
...              ...     ...     ...
315546130283     0.0     0.0     0.0
315556140113     0.0     0.0     0.0
315556140136     0.0     0.0     0.0
315556140159     0.0     0.0     0.0
315556140297     0.0     0.0     0.0

[10401 rows x 3 columns]

In [696]:
agr_info['exp_transp_inp_dimba']=mod_l['ag_l09']+mod_l['ag_l40']
agr_info['exp_inp_dimba']=mod_l['ag_l10']

In [697]:
agr_info

,income_pltrent_rainy,exp_pltrent_hiredwrk_rainy,exp_transp_inp_rainy,exp_inp_rainy,exp_transp_seed_rainy,exp_seed_rainy,income_sales_rainy,exp_trnsp_rainy,income_rainy,exp_rainy,exp_pltrent_hiredwrk_dimba,income_pltrent_dimba,exp_transp_inp_dimba,exp_inp_dimba
case_id,,,,,,,,,,,,,,
101010160009,0.0,0.0,0.0,0.0,0.0,0.0,40000.0,1800.0,40000.0,0.0,0.0,0.0,0.0,0.0
101010160033,0.0,0.0,0.0,0.0,0.0,0.0,900.0,0.0,900.0,0.0,0.0,0.0,0.0,0.0
101010160060,0.0,0.0,0.0,0.0,0.0,0.0,16000.0,0.0,16000.0,0.0,0.0,0.0,0.0,0.0
101010160068,0.0,0.0,0.0,0.0,0.0,0.0,62850.0,1300.0,62850.0,0.0,0.0,0.0,0.0,0.0
101010160069,0.0,0.0,0.0,0.0,0.0,0.0,7350.0,600.0,7350.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
315546130283,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
315556140113,0.0,0.0,0.0,0.0,0.0,0.0,700.0,0.0,700.0,0.0,0.0,0.0,0.0,0.0
315556140136,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
315556140159,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
315556140297,0.0,600.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,600.0,0.0,0.0,0.0,0.0

In [698]:
module_n = pd.read_csv('/home/insauer/projects/WB_model/Data_Malawi/MWI_2010_IHS-III_v01_M_CSV/Full_Sample/Agriculture/ag_mod_n.csv')
module_n = module_n[['case_id','ag_n09', 'ag_n10', 'ag_n40']]
module_n

/home/insauer/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (13,24,37) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

            case_id  ag_n09  ag_n10  ag_n40
0      101012150001     NaN     NaN     NaN
1      101012150004     NaN     NaN     NaN
2      101012150021     NaN     NaN     NaN
3      101012150022     NaN     NaN     NaN
4      101012150026     NaN     NaN     NaN
...             ...     ...     ...     ...
10950  315546130283     NaN     NaN     NaN
10951  315556140113     NaN     NaN     NaN
10952  315556140136     NaN     NaN     NaN
10953  315556140159     NaN     NaN     NaN
10954  315556140297     NaN     NaN     NaN

[10955 rows x 4 columns]

In [699]:
mod_n = module_n.groupby(['case_id']).sum()
mod_n

              ag_n09  ag_n10  ag_n40
case_id
101010160009     0.0     0.0     0.0
101010160033     0.0     0.0     0.0
101010160060     0.0     0.0     0.0
101010160068     0.0     0.0     0.0
101010160069     0.0     0.0     0.0
...              ...     ...     ...
315546130283     0.0     0.0     0.0
315556140113     0.0     0.0     0.0
315556140136     0.0     0.0     0.0
315556140159     0.0     0.0     0.0
315556140297     0.0     0.0     0.0

[10401 rows x 3 columns]

In [700]:
agr_info['exp_transp_seed_dimba']=mod_n['ag_n09']+mod_n['ag_n40']
agr_info['exp_seed_dimba']=mod_n['ag_n10']

In [701]:
agr_info

,income_pltrent_rainy,exp_pltrent_hiredwrk_rainy,exp_transp_inp_rainy,exp_inp_rainy,exp_transp_seed_rainy,exp_seed_rainy,income_sales_rainy,exp_trnsp_rainy,income_rainy,exp_rainy,exp_pltrent_hiredwrk_dimba,income_pltrent_dimba,exp_transp_inp_dimba,exp_inp_dimba,exp_transp_seed_dimba,exp_seed_dimba
case_id,,,,,,,,,,,,,,,,
101010160009,0.0,0.0,0.0,0.0,0.0,0.0,40000.0,1800.0,40000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101010160033,0.0,0.0,0.0,0.0,0.0,0.0,900.0,0.0,900.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101010160060,0.0,0.0,0.0,0.0,0.0,0.0,16000.0,0.0,16000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101010160068,0.0,0.0,0.0,0.0,0.0,0.0,62850.0,1300.0,62850.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101010160069,0.0,0.0,0.0,0.0,0.0,0.0,7350.0,600.0,7350.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
315546130283,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
315556140113,0.0,0.0,0.0,0.0,0.0,0.0,700.0,0.0,700.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
315556140136,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
315556140159,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
315556140297,0.0,600.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,600.0,0.0,0.0,0.0,0.0,0.0,0.0

In [702]:
module_o = pd.read_csv('/home/insauer/projects/WB_model/Data_Malawi/MWI_2010_IHS-III_v01_M_CSV/Full_Sample/Agriculture/ag_mod_o.csv')
module_o = module_o[['case_id','ag_o03', 'ag_o10']]
module_o

/home/insauer/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (8,37,85,91,96,98,100) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

            case_id  ag_o03  ag_o10
0      101012150001     NaN     NaN
1      101012150004     NaN     NaN
2      101012150021     NaN     NaN
3      101012150022     NaN     NaN
4      101012150026     NaN     NaN
...             ...     ...     ...
10948  315546130283     NaN     NaN
10949  315556140113     NaN     NaN
10950  315556140136     NaN     NaN
10951  315556140159     NaN     NaN
10952  315556140297     NaN     NaN

[10953 rows x 3 columns]

In [703]:
mod_o = module_o.groupby(['case_id']).sum()
mod_o

              ag_o03  ag_o10
case_id
101010160009     0.0     0.0
101010160033     0.0     0.0
101010160060     0.0     0.0
101010160068     0.0     0.0
101010160069     0.0     0.0
...              ...     ...
315546130283     0.0     0.0
315556140113     0.0     0.0
315556140136     0.0     0.0
315556140159     0.0     0.0
315556140297     0.0     0.0

[10401 rows x 2 columns]

In [704]:
agr_info['income_sales_dimba']=mod_o['ag_o03']
agr_info['exp_trnsp_dimba']=mod_o['ag_o10']

In [705]:
agr_info

,income_pltrent_rainy,exp_pltrent_hiredwrk_rainy,exp_transp_inp_rainy,exp_inp_rainy,exp_transp_seed_rainy,exp_seed_rainy,income_sales_rainy,exp_trnsp_rainy,income_rainy,exp_rainy,exp_pltrent_hiredwrk_dimba,income_pltrent_dimba,exp_transp_inp_dimba,exp_inp_dimba,exp_transp_seed_dimba,exp_seed_dimba,income_sales_dimba,exp_trnsp_dimba
case_id,,,,,,,,,,,,,,,,,,
101010160009,0.0,0.0,0.0,0.0,0.0,0.0,40000.0,1800.0,40000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101010160033,0.0,0.0,0.0,0.0,0.0,0.0,900.0,0.0,900.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101010160060,0.0,0.0,0.0,0.0,0.0,0.0,16000.0,0.0,16000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101010160068,0.0,0.0,0.0,0.0,0.0,0.0,62850.0,1300.0,62850.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101010160069,0.0,0.0,0.0,0.0,0.0,0.0,7350.0,600.0,7350.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
315546130283,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
315556140113,0.0,0.0,0.0,0.0,0.0,0.0,700.0,0.0,700.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
315556140136,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
315556140159,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
315556140297,0.0,600.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,600.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [706]:
agr_info['income_dimba']=agr_info['income_pltrent_dimba']+agr_info['income_sales_dimba']
agr_info['exp_dimba']= agr_info['exp_pltrent_hiredwrk_dimba']+agr_info['exp_transp_inp_dimba']+agr_info['exp_inp_dimba']+\
                        agr_info['exp_transp_seed_dimba']+agr_info['exp_seed_dimba']

In [708]:
agr_info.loc[agr_info['income_dimba']>0]

,income_pltrent_rainy,exp_pltrent_hiredwrk_rainy,exp_transp_inp_rainy,exp_inp_rainy,exp_transp_seed_rainy,exp_seed_rainy,income_sales_rainy,exp_trnsp_rainy,income_rainy,exp_rainy,exp_pltrent_hiredwrk_dimba,income_pltrent_dimba,exp_transp_inp_dimba,exp_inp_dimba,exp_transp_seed_dimba,exp_seed_dimba,income_sales_dimba,exp_trnsp_dimba,income_dimba,exp_dimba
case_id,,,,,,,,,,,,,,,,,,,,
101012040062,0.0,0.0,0.0,0.0,0.0,0.0,39000.0,0.0,39000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1000.0,0.0,1000.0,0.0
101012150074,0.0,0.0,0.0,0.0,0.0,0.0,25000.0,0.0,25000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1500.0,0.0,1500.0,0.0
101026210018,0.0,0.0,600.0,12500.0,0.0,1550.0,NaN,NaN,0.0,14650.0,0.0,0.0,0.0,0.0,0.0,0.0,17700.0,0.0,17700.0,0.0
101026210024,0.0,0.0,0.0,750.0,0.0,1750.0,NaN,NaN,0.0,2500.0,0.0,0.0,0.0,1100.0,0.0,0.0,22000.0,0.0,22000.0,1100.0
101026210042,0.0,0.0,1600.0,54800.0,0.0,9250.0,NaN,NaN,0.0,65650.0,2100.0,0.0,0.0,6400.0,0.0,0.0,13500.0,0.0,13500.0,8500.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
313065000071,0.0,6300.0,0.0,0.0,750.0,750.0,NaN,NaN,0.0,7800.0,0.0,0.0,0.0,750.0,0.0,180.0,8600.0,0.0,8600.0,930.0
313065000078,0.0,1400.0,1200.0,14200.0,0.0,4000.0,NaN,NaN,0.0,20800.0,0.0,0.0,0.0,200.0,0.0,0.0,2000.0,0.0,2000.0,200.0
313067190008,0.0,0.0,2000.0,18000.0,0.0,2300.0,NaN,NaN,0.0,22300.0,0.0,0.0,0.0,650.0,0.0,120.0,9000.0,0.0,9000.0,770.0
314340990239,0.0,7000.0,0.0,30000.0,100.0,3000.0,NaN,NaN,0.0,40100.0,0.0,0.0,0.0,0.0,0.0,350.0,10500.0,0.0,10500.0,350.0
314431080042,0.0,0.0,0.0,0.0,300.0,0.0,0.0,0.0,0.0,300.0,0.0,0.0,0.0,0.0,0.0,0.0,1600.0,0.0,1600.0,0.0

### Trees and permanent crops

income:

ag_q03 --> income from sales 


expenditure:

ag_q03 --> payment sales transport

In [709]:
module_q = pd.read_csv('/home/insauer/projects/WB_model/Data_Malawi/MWI_2010_IHS-III_v01_M_CSV/Full_Sample/Agriculture/ag_mod_q.csv')
module_q = module_q[['case_id','ag_q03', 'ag_q10']]
module_q

/home/insauer/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (50,61,72,89,93) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

            case_id  ag_q03  ag_q10
0      101012150001     NaN     NaN
1      101012150004     NaN     NaN
2      101012150021     NaN     NaN
3      101012150022     NaN     NaN
4      101012150026     NaN     NaN
...             ...     ...     ...
12325  315546130283     NaN     NaN
12326  315556140113     NaN     NaN
12327  315556140136   800.0     NaN
12328  315556140159     NaN     NaN
12329  315556140297     NaN     NaN

[12330 rows x 3 columns]

In [710]:
mod_q = module_q.groupby(['case_id']).sum()
mod_q

               ag_q03  ag_q10
case_id
101010160009      0.0     0.0
101010160033      0.0     0.0
101010160060      0.0     0.0
101010160068  10000.0     0.0
101010160069      0.0     0.0
...               ...     ...
315546130283      0.0     0.0
315556140113      0.0     0.0
315556140136    800.0     0.0
315556140159      0.0     0.0
315556140297      0.0     0.0

[10401 rows x 2 columns]

In [711]:
agr_info['income_sales_tree']=mod_q['ag_q03']
agr_info['exp_trnsp_tree']=mod_q['ag_q10']
agr_info

,income_pltrent_rainy,exp_pltrent_hiredwrk_rainy,exp_transp_inp_rainy,exp_inp_rainy,exp_transp_seed_rainy,exp_seed_rainy,income_sales_rainy,exp_trnsp_rainy,income_rainy,exp_rainy,...,exp_transp_inp_dimba,exp_inp_dimba,exp_transp_seed_dimba,exp_seed_dimba,income_sales_dimba,exp_trnsp_dimba,income_dimba,exp_dimba,income_sales_tree,exp_trnsp_tree
case_id,,,,,,,,,,,,,,,,,,,,,
101010160009,0.0,0.0,0.0,0.0,0.0,0.0,40000.0,1800.0,40000.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101010160033,0.0,0.0,0.0,0.0,0.0,0.0,900.0,0.0,900.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101010160060,0.0,0.0,0.0,0.0,0.0,0.0,16000.0,0.0,16000.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101010160068,0.0,0.0,0.0,0.0,0.0,0.0,62850.0,1300.0,62850.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10000.0,0.0
101010160069,0.0,0.0,0.0,0.0,0.0,0.0,7350.0,600.0,7350.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
315546130283,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
315556140113,0.0,0.0,0.0,0.0,0.0,0.0,700.0,0.0,700.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
315556140136,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,800.0,0.0
315556140159,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
315556140297,0.0,600.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,600.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [712]:
agr_info['income_sales_tree']=mod_q['ag_q03']
agr_info['exp_trnsp_tree']=mod_q['ag_q10']
agr_info['income_tree']=agr_info['income_sales_tree']
agr_info['exp_tree']=agr_info['exp_trnsp_tree']

In [713]:
agr_info

,income_pltrent_rainy,exp_pltrent_hiredwrk_rainy,exp_transp_inp_rainy,exp_inp_rainy,exp_transp_seed_rainy,exp_seed_rainy,income_sales_rainy,exp_trnsp_rainy,income_rainy,exp_rainy,...,exp_transp_seed_dimba,exp_seed_dimba,income_sales_dimba,exp_trnsp_dimba,income_dimba,exp_dimba,income_sales_tree,exp_trnsp_tree,income_tree,exp_tree
case_id,,,,,,,,,,,,,,,,,,,,,
101010160009,0.0,0.0,0.0,0.0,0.0,0.0,40000.0,1800.0,40000.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101010160033,0.0,0.0,0.0,0.0,0.0,0.0,900.0,0.0,900.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101010160060,0.0,0.0,0.0,0.0,0.0,0.0,16000.0,0.0,16000.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101010160068,0.0,0.0,0.0,0.0,0.0,0.0,62850.0,1300.0,62850.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,10000.0,0.0,10000.0,0.0
101010160069,0.0,0.0,0.0,0.0,0.0,0.0,7350.0,600.0,7350.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
315546130283,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
315556140113,0.0,0.0,0.0,0.0,0.0,0.0,700.0,0.0,700.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
315556140136,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,800.0,0.0,800.0,0.0
315556140159,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
315556140297,0.0,600.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,600.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Livestock

income:

ag_r17 --> income from sales

ag_s06 --> product sales


expenditure:

ag_r11 --> purchases

ag_r27 --> hired labor

ag_r28 --> animal feed

ag_r29 --> medicine

ag_r30 --> vet service

ag_r31 --> other input


ag_s13 --> additional expenses

In [722]:
module_r1 = pd.read_csv('/home/insauer/projects/WB_model/Data_Malawi/MWI_2010_IHS-III_v01_M_CSV/Full_Sample/Agriculture/ag_mod_r1.csv')
module_r1 = module_r1[['case_id','ag_r11', 'ag_r17']]
module_r1

/home/insauer/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (20) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

             case_id  ag_r11  ag_r17
0       101012150001     NaN     NaN
1       101012150004     NaN     NaN
2       101012150004     NaN     NaN
3       101012150004     NaN     NaN
4       101012150004     NaN     NaN
...              ...     ...     ...
107534  315556140113     NaN     NaN
107535  315556140113     NaN     NaN
107536  315556140136     NaN     NaN
107537  315556140159     NaN     NaN
107538  315556140297     NaN     NaN

[107539 rows x 3 columns]

In [723]:
mod_r1 = module_r1.groupby(['case_id']).sum()
mod_r1

               ag_r11  ag_r17
case_id
101010160009   1000.0     0.0
101010160033      0.0     0.0
101010160060  16000.0  4500.0
101010160068   1700.0   800.0
101010160069      0.0     0.0
...               ...     ...
315546130283      0.0     0.0
315556140113   1000.0     0.0
315556140136      0.0     0.0
315556140159      0.0     0.0
315556140297      0.0     0.0

[10401 rows x 2 columns]

In [716]:
module_r2 = pd.read_csv('/home/insauer/projects/WB_model/Data_Malawi/MWI_2010_IHS-III_v01_M_CSV/Full_Sample/Agriculture/ag_mod_r2.csv')
module_r2 = module_r2[['case_id','ag_r27', 'ag_r28', 'ag_r29', 'ag_r30', 'ag_r31']]
module_r2

            case_id  ag_r27  ag_r28  ag_r29  ag_r30  ag_r31
0      101012150001     NaN     NaN     NaN     NaN     NaN
1      101012150004     0.0     0.0   100.0     0.0     0.0
2      101012150021     0.0     0.0     0.0     0.0     0.0
3      101012150022     0.0     0.0     0.0     0.0     0.0
4      101012150026   800.0     0.0   600.0     0.0     0.0
...             ...     ...     ...     ...     ...     ...
10396  315546130283     NaN     NaN     NaN     NaN     NaN
10397  315556140113     0.0     0.0     0.0     0.0     0.0
10398  315556140136     NaN     NaN     NaN     NaN     NaN
10399  315556140159     NaN     NaN     NaN     NaN     NaN
10400  315556140297     NaN     NaN     NaN     NaN     NaN

[10401 rows x 6 columns]

In [724]:
mod_r2 = module_r2.groupby(['case_id']).sum()
mod_r2['ls_care'] = mod_r2.sum(axis=1)

In [725]:
mod_r2

              ag_r27  ag_r28  ag_r29  ag_r30  ag_r31  ls_care
case_id
101010160009     0.0     0.0     0.0     0.0     0.0      0.0
101010160033     0.0     0.0     0.0     0.0     0.0      0.0
101010160060     0.0  3000.0   300.0     0.0     0.0   3300.0
101010160068     0.0     0.0     0.0     0.0     0.0      0.0
101010160069     0.0     0.0     0.0     0.0     0.0      0.0
...              ...     ...     ...     ...     ...      ...
315546130283     0.0     0.0     0.0     0.0     0.0      0.0
315556140113     0.0     0.0     0.0     0.0     0.0      0.0
315556140136     0.0     0.0     0.0     0.0     0.0      0.0
315556140159     0.0     0.0     0.0     0.0     0.0      0.0
315556140297     0.0     0.0     0.0     0.0     0.0      0.0

[10401 rows x 6 columns]

In [726]:
agr_info['income_livestock_sales']=mod_r1['ag_r11']
agr_info['exp_livestock_purchase']=mod_r1['ag_r17']
agr_info['exp_livestock_care']=mod_r2['ls_care']
agr_info

,income_pltrent_rainy,exp_pltrent_hiredwrk_rainy,exp_transp_inp_rainy,exp_inp_rainy,exp_transp_seed_rainy,exp_seed_rainy,income_sales_rainy,exp_trnsp_rainy,income_rainy,exp_rainy,...,exp_trnsp_dimba,income_dimba,exp_dimba,income_sales_tree,exp_trnsp_tree,income_tree,exp_tree,inc_livestock_sales,exp_livestock_purchase,exp_livestock_care
case_id,,,,,,,,,,,,,,,,,,,,,
101010160009,0.0,0.0,0.0,0.0,0.0,0.0,40000.0,1800.0,40000.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1000.0,0.0,0.0
101010160033,0.0,0.0,0.0,0.0,0.0,0.0,900.0,0.0,900.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101010160060,0.0,0.0,0.0,0.0,0.0,0.0,16000.0,0.0,16000.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,16000.0,4500.0,3300.0
101010160068,0.0,0.0,0.0,0.0,0.0,0.0,62850.0,1300.0,62850.0,0.0,...,0.0,0.0,0.0,10000.0,0.0,10000.0,0.0,1700.0,800.0,0.0
101010160069,0.0,0.0,0.0,0.0,0.0,0.0,7350.0,600.0,7350.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
315546130283,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
315556140113,0.0,0.0,0.0,0.0,0.0,0.0,700.0,0.0,700.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1000.0,0.0,0.0
315556140136,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,800.0,0.0,800.0,0.0,0.0,0.0,0.0
315556140159,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
315556140297,0.0,600.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,600.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [720]:
module_s = pd.read_csv('/home/insauer/projects/WB_model/Data_Malawi/MWI_2010_IHS-III_v01_M_CSV/Full_Sample/Agriculture/ag_mod_s.csv')
module_s = module_s[['case_id', 'ag_s06', 'ag_s13']]
module_s

            case_id  ag_s06  ag_s13
0      101012150001     NaN     NaN
1      101012150004     NaN     NaN
2      101012150004     NaN     NaN
3      101012150004     NaN     NaN
4      101012150004     NaN     NaN
...             ...     ...     ...
50394  315556140113     NaN     NaN
50395  315556140113     NaN     NaN
50396  315556140136     NaN     NaN
50397  315556140159     NaN     NaN
50398  315556140297     NaN     NaN

[50399 rows x 3 columns]

In [727]:
mod_s = module_s.groupby(['case_id']).sum()
mod_s

              ag_s06  ag_s13
case_id
101010160009   800.0     0.0
101010160033     0.0     0.0
101010160060  4000.0     0.0
101010160068     0.0     0.0
101010160069     0.0     0.0
...              ...     ...
315546130283     0.0     0.0
315556140113     0.0     0.0
315556140136     0.0     0.0
315556140159     0.0     0.0
315556140297     0.0     0.0

[10401 rows x 2 columns]

In [738]:
agr_info['income_livestock_prod_sales']=mod_s['ag_s06']
agr_info['exp_livestock_add_exp']=mod_s['ag_s13']

/home/insauer/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/home/insauer/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [754]:
agr_info['income_livestock']=agr_info['income_livestock_sales']+agr_info['income_livestock_prod_sales']
agr_info['exp_livestock']=agr_info['exp_livestock_purchase']+agr_info['exp_livestock_care']+agr_info['exp_livestock_add_exp']

In [755]:
agr_short=agr_info[['income_rainy', 'exp_rainy', 'income_dimba','exp_dimba', 'income_tree', 'exp_tree', 'income_livestock', 'exp_livestock']]

In [756]:
agr_short['total_income']=agr_info['income_rainy']+agr_info['income_dimba']+agr_info['income_tree']+ agr_info['income_livestock']
agr_short['total_exp']=agr_info['exp_rainy']+agr_info['exp_dimba']+agr_info['exp_tree']+ agr_info['exp_livestock']
agr_short['total_profit']=agr_short['total_income']-agr_short['total_exp']

/home/insauer/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/home/insauer/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/insauer/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [763]:
agr_short.loc[agr_short['total_profit']<0.0,'total_profit_equalized']= 0.0
agr_short.loc[agr_short['total_profit']>=0.0,'total_profit_equalized']=agr_short['total_profit']

/home/insauer/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
/home/insauer/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/home/insauer/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [764]:
agr_short

,income_rainy,exp_rainy,income_dimba,exp_dimba,income_tree,exp_tree,income_livestock,exp_livestock,total_income,total_exp,total_profit,total_profit_equalized
case_id,,,,,,,,,,,,
101010160009,40000.0,0.0,0.0,0.0,0.0,0.0,1800.0,0.0,41800.0,0.0,41800.0,41800.0
101010160033,900.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,900.0,0.0,900.0,900.0
101010160060,16000.0,0.0,0.0,0.0,0.0,0.0,20000.0,7800.0,36000.0,7800.0,28200.0,28200.0
101010160068,62850.0,0.0,0.0,0.0,10000.0,0.0,1700.0,800.0,74550.0,800.0,73750.0,73750.0
101010160069,7350.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7350.0,0.0,7350.0,7350.0
...,...,...,...,...,...,...,...,...,...,...,...,...
315546130283,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
315556140113,700.0,0.0,0.0,0.0,0.0,0.0,1000.0,0.0,1700.0,0.0,1700.0,1700.0
315556140136,0.0,0.0,0.0,0.0,800.0,0.0,0.0,0.0,800.0,0.0,800.0,800.0
315556140159,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
315556140297,0.0,600.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,600.0,-600.0,0.0

In [784]:
agr_short.loc[agr_short['exp_tree']>agr_short['income_tree']]

Empty DataFrame
Columns: [income_rainy, exp_rainy, income_dimba, exp_dimba, income_tree, exp_tree, income_livestock, exp_livestock, total_income, total_exp, total_profit, total_profit_equalized]
Index: []

In [765]:
general_info['income_agr']=agr_short['total_profit_equalized']

In [768]:
general_info['income_agr']=general_info['income_agr'].replace(np.nan,0.0)

In [769]:
general_info

,case_id,ea_id,isurban,weight,region,income_labour,income_enterprise,inc-sp_child,inc-sp_other,income_other,inc-sp_ssn,income_agr
case_id,,,,,,,,,,,,
101010160009,101010160009,10101016,2,126.560097,101,2400.0,12807.692308,0.0,1500.0,0.0,0.0,41800.0
101010160033,101010160033,10101016,2,126.560097,101,0.0,0.000000,2000.0,18000.0,0.0,0.0,900.0
101010160060,101010160060,10101016,2,126.560097,101,84480.0,1200.000000,20000.0,6000.0,0.0,0.0,28200.0
101010160068,101010160068,10101016,2,126.560097,101,16080.0,0.000000,0.0,0.0,0.0,0.0,73750.0
101010160069,101010160069,10101016,2,126.560097,101,2100.0,0.000000,0.0,250.0,0.0,0.0,7350.0
...,...,...,...,...,...,...,...,...,...,...,...,...
315556140342,315556140342,31555614,1,456.450592,315,90000.0,0.000000,0.0,1500.0,0.0,0.0,0.0
315556140365,315556140365,31555614,1,456.450592,315,85680.0,0.000000,0.0,0.0,0.0,0.0,0.0
315556140388,315556140388,31555614,1,456.450592,315,72000.0,0.000000,0.0,0.0,0.0,0.0,0.0
315556140411,315556140411,31555614,1,456.450592,315,91000.0,0.000000,0.0,0.0,0.0,0.0,0.0
315556140434,315556140434,31555614,1,456.450592,315,121800.0,21642.857143,0.0,2000.0,0.0,0.0,0.0

In [771]:
general_info['income']=general_info.iloc[:,5:].sum(axis=1)

In [774]:
general_info.loc[general_info['income']==0]

,case_id,ea_id,isurban,weight,region,income_labour,income_enterprise,inc-sp_child,inc-sp_other,income_other,inc-sp_ssn,income_agr,income
case_id,,,,,,,,,,,,,
101012190018,101012190018,10101219,2,134.102707,101,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101012190025,101012190025,10101219,2,134.102707,101,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101012190092,101012190092,10101219,2,134.102707,101,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101013550014,101013550014,10101355,2,75.261101,101,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101013550032,101013550032,10101355,2,75.261101,101,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
315311610291,315311610291,31531161,1,541.124329,315,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
315326740121,315326740121,31532674,1,647.444885,315,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
315404190147,315404190147,31540419,1,512.634094,315,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
315453840939,315453840939,31545384,1,1104.257812,315,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
315502540099,315502540099,31550254,1,399.892395,315,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Income from fisheries activities

In [777]:
modulef_d1 = pd.read_csv('/home/insauer/projects/WB_model/Data_Malawi/MWI_2010_IHS-III_v01_M_CSV/Full_Sample/Fisheries/fs_mod_d1.csv')
modulef_d1 = module_sd1[['case_id', 'ag_s06', 'ag_s13']]
modulef_d1

,case_id,visit,ea_id,fs_d0a,fs_d0a_os,fs_d01,fs_d02,fs_d03,fs_d04,fs_d05,fs_d06
0,101034140064,2,10103414,1,NaN,2.0,NaN,NaN,NaN,NaN,NaN
1,101034140064,2,10103414,2,NaN,2.0,NaN,NaN,NaN,NaN,NaN
2,101034140064,2,10103414,3,NaN,2.0,NaN,NaN,NaN,NaN,NaN
3,101034140064,2,10103414,4,NaN,1.0,1.0,0.0,20000.0,0.0,0.0
4,101034140064,2,10103414,5,NaN,2.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1867,314426160009,1,31442616,4,NaN,2.0,NaN,NaN,NaN,NaN,NaN
1868,314426160009,1,31442616,5,NaN,2.0,NaN,NaN,NaN,NaN,NaN
1869,314426160009,1,31442616,6,NaN,2.0,NaN,NaN,NaN,NaN,NaN
1870,314426160009,1,31442616,7,NaN,2.0,NaN,NaN,NaN,NaN,NaN
1871,314426160009,1,31442616,8,NaN,2.0,NaN,NaN,NaN,NaN,NaN